<template>
    <div 
        class="alert alert-danger text-center" 
        role="alert"
    >
        <strong>
            <div v-if="!finished">
                <strong>Ο χρόνος επεξεργασίας λήγει σε: </strong>
                <span v-show="remaining.days > 0"> {{ remaining.days }} ημέρες, </span>
                <span v-show="remaining.hours > 0"> {{ remaining.hours }} ώρες, </span>
                <span v-show="remaining.minutes > 0"> {{ remaining.minutes }} λεπτά και </span>
                <span v-show="remaining.seconds >= 0"> {{ remaining.seconds }} δευτερόλεπτα </span>
            </div>

            <div 
                v-else 
                v-text="expiredText"
            />
        </strong>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        props : {
            until : {
                type : Date,
                default : null
            },
            expiredText :  {
                type: String,
                default: 'Ο χρόνος επεξεργασίας τελείωσε...'
            }
        },

        data (){
            return {
                now : new Date(),
                interval : null
            }
        },

        computed : {
            finished() {
                return this.remaining.total <= 0;
            },
            remaining () {

                let remaining = moment.duration(Date.parse(this.until) - this.now);

                if(remaining <= 0){
                    this.$emit('finished');
                }
                
                return {
                    total : remaining,
                    days : remaining.days(),
                    hours : remaining.hours(),
                    minutes : remaining.minutes(),
                    seconds : remaining.seconds(),
                }
            }
        },

        created (){
            this.interval = setInterval(() => {
                this.now = new Date();
            },1000);      
            
            this.$on('finished', () => clearInterval(this.interval))
        },

        destroyed (){
            clearInterval(this.interval);
        }
    }
</script>