<template>
    <div>
        <div v-if="!editing">
            <h1 v-text="question.title" />
            <div 
                class="body" 
                v-text="question.body" 
            />
            <button 
                id="edit" 
                @click="editing=true"
            >
                Edit
            </button>
            <p v-if="feedback">
                Your question has been updated.
            </p>
        </div>

        <div v-if="editing">
            <input 
                v-model="form.title" 
                type="text" 
                name="title" 
            >
            <textarea
                v-model="form.body"
                name="body"
            />

            <button 
                id="update"
                @click="updateQuestion"
            >
                Update
            </button>
            <button 
                id="cancel"
                @click="cancelUpdating"
            >
                Cancel
            </button>
        </div>
    </div>    
</template>


<script>
    import axios from 'axios';

    export default {
        props : ['dataQuestion'], 

        data (){
            return {
                question : this.dataQuestion,
                form : {
                    title : this.dataQuestion.title,
                    body  : this.dataQuestion.body
                },
                editing : false,
                feedback : false
            }
        }, 

        methods : {
            updateQuestion(){
                this.question.title = this.form.title;
                this.question.body  = this.form.body;                

                axios.post('/questions/1', this.form)
                    .then(r => {
                        this.feedback = true;
                    })
                    .catch(r => console.log('Error'));
                
                this.editing = false;
            },

            cancelUpdating(){
                this.editing = false;
            }
        }
    }
</script>
