<template>
    <div v-if="showButtons" class="row">
        <div v-if="!loadingButton" class="col-md-12 text-center">
            <button @click="saveRequest" class="btn btn-warning btn-lg">
                <div>
                    Προσωρινή Αποθήκευση
                </div>
                <div>
                    <span class="label label-danger">Προσοχή! ΔΕΝ λαμβάνεται η αίτηση από την υπηρεσία</span>
                </div>
            </button>

            <button @click="openModal" class="btn btn-success btn-lg">
                Αποστολή
            </button>
            <button v-if="existedRequest" @click="openDeleteModal" class="btn btn-danger btn-lg">
                ΟΡΙΣΤΙΚΗ ΔΙΑΓΡΑΦΗ
            </button>
        </div>

        <div v-else class="col-md-12 text-center">
            <button class="btn btn-warning btn-lg" disabled>
               <i class="fa fa-spinner fa-spin"></i>
                παρακαλώ περιμένετε...
            </button>
        </div>

    </div>
</template>

<script>
    export default {
        data () {
            return {
                loadingButton : false
            }
        },
        props: {
            selectedSchoolsIdiasOmadas : {
                type : Array,
                default (){
                    return []
                }
            },
            selectedSchoolsOmoron : {
                type : Array,
                default (){
                    return []
                }
            },
            otherSchoolsSelected : {
                type : Array,
                default (){
                    return []
                }
            },
            existedRequest : {
                type : Boolean,
                default : true
            }
        },

        computed: {
            showButtons () {
                return this.selectedSchoolsIdiasOmadas.length || this.selectedSchoolsOmoron.length || this.otherSchoolsSelected.length ;
            }
        },

        methods: {
            saveRequest(){
                this.loadingButton = true;
                this.$emit('save-request');
            },

            openModal(){
                this.loadingButton = true;
                this.$emit('open-agreement-modal');
            },

            openDeleteModal(){
                this.loadingButton = true;
                this.$emit('open-delete-modal');
            },

            closeLoader(){
                this.loadingButton = false;
            }
        }

    }
</script>