<template id="modal-organikes">
    <div role="dialog" class="modal fade">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button @click="close" type="button" class="close"><span>&times;</span></button>
                    <h4 class="modal-title">
                            Όροι και προϋποθέσεις
                    </h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                            Τα στοιχεία που δηλώνονται στην αίτηση  έχουν την έννοια της <strong>υπεύθυνης δήλωσης</strong>,
                            με βάση τα οριζόμενα στο άρθρο του Ν. 1599/86 και <u>ψευδής δήλωση συνεπάγεται κυρώσεις</u>
                            που προβλέπονται από την παράγραφο 6 του άρθρου 22 του ίδιου νόμου.
                        </li>
                        <li>
                            Με την αποστολή η αίτηση καταχωρείται με αύξων αριθμό και στέλνεται αντίγραφο (E-mail) στη γραμματεία
                            του ΠΥΣΠΕ καθώς και στον ενδιαφερόμενο.
                        </li>
                        <li>
                            Ο αιτούμενος εκπαιδευτικός είναι υποχρεωμένος να εκτυπώσει την αίτηση, να την υπογράψει και
                            να την στείλει δια χειρός ή με fax στη γραμματεία του ΠΥΣΠΕ.
                        </li>
                    </ul>
                    <p>Αν συμφωνείτε με τους παραπάνω όρους πατήστε <b>Συνέχεια</b></p>
                </div>
                <div class="modal-footer">
                    <button @click="close" type="button" class="btn btn-default">Κλείσιμο</button>
                    <button @click="continueButton" type="button" class="btn btn-primary">Συνέχεια</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        template : '#modal-organikes',

        methods : {
            message (title, body, type){
                $.swalAlert({
                    title : title,
                    body : body,
                    level : type
                });
            },

            close (){
                this.show = false;
                this.message('Ειδοποίηση', 'Η αίτηση μπορεί να γίνει αποδεχτή μόνο συμφωνώντας με τους όρους','warning');
            },

            continueButton (){
                this.show = false;
                this.$parent.$options.methods.sentRequest(this.atype, this.moria, this.uniqueid);
                this.loader = false;
            }
        },

        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true
            },
            loader : {
                type: Boolean,
                required: true,
                twoWay: true
            },
            atype : {
                type: String,
                required : true
            },
            uniqueid : {
                type: String,
                required : true
            },
            moria : {
                type: Number,
                default : 0,
                twoWay: true,
                coerce: function (val) {
                    return parseFloat(val)
                }
            }
        },

        data () {
            return {
                datamodal : 2
            };
        },

        ready (){
            this.$watch('show', (val)=> {
                const el = this.$el;
                const body = document.body;
                if (val) {
                    el.querySelector('.modal-content').focus();
                    el.style.display = 'block';
                    setTimeout(()=> el.classList.add('in'), 0);
                } else {
                    el.classList.remove('in');

                    setTimeout(()=> {
                        el.style.display = 'none';
                        body.style.paddingRight = '0'
                    }, 300)
                }
            }, { immediate: true })
        }
    }
</script>

<style>
    .modal {
      transition: all 0.3s ease;
    }
    .modal.in {
      background-color: rgba(0,0,0,0.5);
    }
    .modal.zoom .modal-dialog {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        top: 300px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .modal.zoom.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
        opacity: 1;
    }

    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>