<template>
    <div role="dialog" class="modal fade">
        <div role="document" v-bind:class="{
            'modal-dialog' : true,
            'modal-lg'      : size === 'large'
        }">
            <div class="modal-content">
                <div v-bind:class="{
                    'modal-header' : true,
                    'modal-header-danger' : isDangerModal,
                    'modal-header-primary' : isAgreementModal
                }">
                    <button @click="close" type="button" class="close"><span>&times;</span></button>
                    <h4 class="modal-title">
                        <slot name="title">put the title here...</slot>
                    </h4>
                </div>
                <div class="modal-body">
                    <slot name="body">put the body here ...</slot>
                </div>
                <div class="modal-footer">
                    <button @click="close" type="button" class="btn btn-default">Κλείσιμο</button>
                    <button @click="continueButton" type="button" v-bind:class="{
                        'btn' : true,
                        'btn-primary' : isAgreementModal,
                        'btn-danger'  : isDangerModal
                    }" :disabled="disabled">
                        <slot name="button">Αποθήκευση</slot>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data (){
            return {
                local_show : this.show
            }
        },
        methods : {
            message (title, body, type){
                $.swalAlert({
                    title : title,
                    body : body,
                    level : type
                });
            },

            close (){
                this.local_show = false;
                this.$emit('cancel-the-request');
            },

            continueButton (){
                this.local_show = false;
                this.$emit('emit-the-request');
            }
        },

        props: {
            show: {
                type: Boolean,
                required: true
            },
            type : {
                type: String,
                required : true,
                default : 'agreement'
            },
            size : {
                type: String,
                required: false,
                default : 'regular'
            },
            disabled : {
                type: Boolean,
                required : false,
                default : false
            }
        },


        computed : {
            isDangerModal(){
                return this.type === 'delete';
            },
            isAgreementModal(){
                return this.type === 'agreement';
            }
        },

        mounted(){
            this.$watch('show', (val)=> {
                const el = this.$el;
                const body = document.body;
                if (val) {
                    el.querySelector('.modal-content').focus();
                    el.style.display = 'block';
                    this.local_show = val;
                    setTimeout(()=> el.classList.add('in'), 0);
                } else {
                    el.classList.remove('in');
                    this.local_show = val;

                    setTimeout(()=> {
                        el.style.display = 'none';
                        body.style.paddingRight = '0'
                    }, 300)
                }
            }, { immediate: true })
        },
    }
</script>

<style>
    .modal {
      transition: all 0.3s ease;
    }
    .modal.in {
      background-color: rgba(0,0,0,0.5);
    }
    .modal.zoom .modal-dialog {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        top: 300px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .modal.zoom.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
        opacity: 1;
    }

    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>