<template>
    <div role="dialog" class="modal fade">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button @click="close" type="button" class="close"><span>&times;</span></button>
                    <h4 class="modal-title">
                            ΠΡΟΣΟΧΗ!!
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        Επιλέξατε να διαγράψετε Οριστικά την αίτησή σας. Είστε σίγουρος;
                    </p>
                </div>
                <div class="modal-footer">
                    <button @click="close" type="button" class="btn btn-default">Όχι</button>
                    <button @click="continueButton" type="button" class="btn btn-danger">ΝΑΙ</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods : {
            message (title, body, type){
                $.swalAlert({
                    title : title,
                    body : body,
                    level : type
                });
            },

            close (){
                this.show = false;
                this.message('Ειδοποίηση', 'Το αίτημα Οριστικής Διαγραφής ακυρώθηκε','warning');
            },

            continueButton (){
                this.show = false;
                this.$parent.$options.methods.permanentlyDelete(this.aitisitype);
                this.loader = false;
            }
        },

        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true
            },
            loader : {
                type: Boolean,
                required: true,
                twoWay: true
            },
            aitisitype : {
                type: String,
                required: true
            }
        },

        data () {
            return {
                datamodal : 2
            };
        },

        ready (){
            this.$watch('show', (val)=> {
                const el = this.$el;
                const body = document.body;
                if (val) {
                    el.querySelector('.modal-content').focus();
                    el.style.display = 'block';
                    setTimeout(()=> el.classList.add('in'), 0);
                } else {
                    el.classList.remove('in');

                    setTimeout(()=> {
                        el.style.display = 'none';
                        body.style.paddingRight = '0'
                    }, 300)
                }
            }, { immediate: true })
        }
    }
</script>

<style>
    .modal {
      transition: all 0.3s ease;
    }
    .modal.in {
      background-color: rgba(0,0,0,0.5);
    }
    .modal.zoom .modal-dialog {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        top: 300px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .modal.zoom.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
        opacity: 1;
    }

    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>