<template>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">A/A</th>
                <th class="text-center">Σχολείο</th>
                <th class="text-center" colspan="2">Ενέργειες</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(school, index) in selectedSchools"">
                <td v-cloak>{{ index + 1 }}</td>
                <td v-cloak>
                    <span v-if="covid" class="hours-covid">
                        <span v-for="star in school.priority">
                            <i class="fa fa-star priority"></i>
                        </span>
                        <span v-if="school.hours > 0">
                            {{ school.hours }}ωρ 
                        </span>
                    </span>
                    {{ school.name }}
                </td>
                <td>
                    <i style="color: red;cursor: pointer"
                        title="Διαγραφή προτίμησης"
                        @click="deleteSelectedSchool(school, index)"
                        class="fa fa-times-circle"
                        aria-hidden="true"></i>
                </td>
                <td>
                    <span v-if="index > 0" style="cursor: pointer"  @click="swapUp(index)">
                        <i class="fa fa-caret-square-o-up" title="Μετακίνηση μία θέση προς τα επάνω" aria-hidden="true"></i>
                    </span>
                    <span v-if="selectedSchools.length > index+1" style="cursor: pointer" @click="swapDown(index)">
                        <i class="fa fa-caret-square-o-down" title="Μετακίνηση μία θέση προς τα κάτω" aria-hidden="true"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

</template>

<script>
    export default {

        props: {
            selectedSchools : Array,
            label : String,
            title : String,
            SchoolTeams : {
                type : Array,
                default: function () {
                    return []
                }
            },
            covid : {
                type : Boolean,
                default : false,
                required : false
            }
        },

      methods : {
        deleteSelectedSchool(obj, index){
          this.deleteSchool(index);
          this.putBackSchool(obj);
        },

        deleteSchool(obj){
            this.$delete(this.selectedSchools, obj);
        },

        putBackSchool(obj){
            this.$emit('put-back-school', obj);
        },
        swapUp(index){
            this.swap(index-1, index)
        },
        swapDown(index){
            this.swap(index, index +1);
        },

        swap(a, b){
            let temp = this.selectedSchools[a];
            this.selectedSchools.splice(a, 1, this.selectedSchools[b]);
            this.$set(this.selectedSchools, b, temp);
        }
      }
    }
</script>