<template>
    <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div v-show="!showLabelVeltiwsi" class="slideThree">
                            <input type="checkbox" v-model="team_checked" @change="initTeam" v-bind:id="label" />
                            <label v-bind:for="label"></label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="slideLabel">
                            <span v-if="showLabelYperarithmou">
                                 επιθυμώ να τοποθετηθώ σε Σχολεία
                                  <span v-bind:class="{
                                        'label' : true,
                                        'label-primary' : label == 'idiaOmada',
                                        'label-success' : label == 'omores'
                                  }">{{title}}</span>
                                        <span v-for="om in schoolTeams" v-tooltip="om.description" style="color: #f0ad4e;font-weight: bold">
                                            [{{ om.name }}]
                                        </span>
                                  με το Σχολείο που ανήκω οργανικά
                            </span>

                            <span v-if="showLabelOtherYperarithmou">
                                γ) Σε περίπτωση που δεν τοποθετηθώ ως υπεράριθμος σε κάποιο λειτουργικό κενό, θα συγκριθώ στην 2η φάση τοποθετήσεων,
                                μαζί με όσους βρίσκονται στη Διάθεση του ΠΥΣΔΕ και με αυτούς που ήρθαν από μετάθεση. Για το λόγο αυτό επιθυμώ να τοποθετηθώ στα
                                παρακάτω Σχολεία με τη σειρά προτίμησης που δηλώνω
                            </span>

                            <span v-if="showLabelDiathesi">
                                είμαι στη Διάθεση του ΠΥΣΔΕ (ή ήρθα φέτος από μετάθεση) και θέλω να τοποθετηθώ προσωρινά, στα παρακάτω Σχολεία, για το τρέχον Σχολικό Έτος
                            </span>

                            <span v-if="showLabelSiblirosi">
                                Οι εκπαιδευτικοί που δεν συμπληρώνουν το υποχρεωτικό τους ωράριο θα τοποθετηθούν βάσει των μορίων μετάθεσης και λαμβάνοντας υπόψη την παρακάτω σειρά προτεραιότητας:
                                    α) Σε σχολική μονάδα συστεγαζόμενη ή του ιδίου συγκροτήματος,
                                    β) Σε σχολική μονάδα της ίδιας ομάδας σχολείων,
                                    γ) Σε σχολική μονάδα όμορης ομάδας σχολείων.
                                Παρακαλώ να με διαθέσετε για συμπλήρωση του υποχρεωτικού μου ωραρίου, με την αντίστοιχη σειρά προτίμησης, σε ένα από τα παρακάτω Σχολεία:
                            </span>

                            <span v-if="showLabelApospasiEntos">
                                Παρακαλώ να με αποσπάσετε / τοποθετήσετε εξ' ολοκλήρου, σύμφωνα με την αντίστοιχη σειρά προτίμησης και για το τρέχον Σχολικό έτος, σε ένα από τα παρακάτω Σχολεία:
                            </span>

                            <span v-if="showLabelApospasiEktos">
                                Παρακαλώ να με τοποθετήσετε προσωρινά, σύμφωνα με την αντίστοιχη σειρά προτίμησης και για το τρέχον Σχολικό έτος, στα παρακάτω Σχολεία:
                            </span>

                            <span v-if="showLabelVeltiwsi">
                                Παρακαλώ να με τοποθετήσετε (οργανικά), σύμφωνα με την αντίστοιχη σειρά προτίμησης, σε ένα από τα παρακάτω Σχολεία:
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" v-if="team_checked">
                    <div v-bind:class="{
                        'panel' : true,
                        'panel-primary' : label == 'idiaOmada',
                        'panel-success' : label == 'omores'
                    }">
                          <div class="panel-body">
                            <!-- ##########################   PANEL BODY  -->
                               <div class="col-md-5"
                                    style="border : solid 2px #000000; border-radius: 4px; padding: 5px; background : #ffffff; color : #000000;  width : 320px; height : 300px; overflow : auto;"
                                    v-if="localSelectedSchools.length < maxSelections"
                                >
                                    <div v-for="(school, index) in allSchools"
                                        class="listAvailableSchools"
                                        @click="addSchoolToChoices(school, index)"
                                    >
                                        <span v-cloak>
                                            <span v-if="covid" class="hours-covid">
                                                <span v-for="star in school.priority">
                                                    <i class="fa fa-star priority"></i>
                                                </span>
                                                <span v-if="school.hours > 0">
                                                    {{ school.hours }}ωρ 
                                                </span>
                                            </span>
                                            {{ school.name }}
                                        </span>
                                        <span style="float: right">
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        </span>
                                    </div>

                                </div>

                                <div v-else class="col-md-5">
                                    <div class="alert alert-danger" role="alert">
                                        <h3 v-cloak class="text-center">
                                            Έχετε τη δυνατότητα να επιλέξετε μέγιστο {{ maxSelections }} Σχολικές Μονάδες
                                        </h3>
                                    </div>
                                </div>

                                <div class="col-md-7 text-center">
                                    <div v-if="!localSelectedSchools.length">
                                         <div class="alert alert-warning col-md-6 col-md-offset-3" role="alert">
                                                <h3 class="text-center">
                                                    ΔΕΝ υπάρχουν προτιμήσεις Σχολείων
                                                </h3>
                                         </div>
                                    </div>
                                    <div v-else>
                                        <h2 v-cloak>
                                            {{countSelectedSchools}}
                                            <button @click="deleteAllSelected" class="btn btn-danger btn-xs">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                Διαγραφή όλων των επιλογών
                                            </button>
                                        </h2>

                                        <table-selected-schools :covid="covid" :selectedSchools="localSelectedSchools" v-on:put-back-school="putBackSchool"></table-selected-schools>


                                        <div class="form-group">
                                            <label>
                                                Σημειώσεις:
                                            </label>
                                            <textarea v-model="localDescription" @keyup="refreshDescription" class="form-control" maxlength="200" placeholder="μέχρι 200 χαρακτήρες"></textarea>
                                        </div>

                                    </div>
                                </div>
                          </div>
                    </div>
                </div>

    </div>
</template>

<script>
    import TableSelectedSchools from './TableSelectedSchools.vue';

    export default {

        props: {
            allSchools : {
                type : Array,
                required : true
            },
            selectedSchools : {
                type : Array,
                required : true
            },
            label : {
                type: String,
                required : true
            },
            title : {
                type : String,
                required : false
            },
            schoolTeams : {
                type : Array,
                default: function () {
                    return []
                }
            },
            description : {
                type : String,
                default : ''
            },
            teamChecked : {
                type : Boolean,
                default : false
            },
            maxSelections : {
                type : Number,
                default : 20
            },
            covid : {
                type : Boolean,
                default : false,
                required : false
            }
        },

      data () {
        return {
            loader : false,
            hasMadeRequest : false,

            unique_id : null,

            localSelectedSchools : this.selectedSchools,
            localDescription : this.description,

            team_checked : false
        }
      },

      components : {
        TableSelectedSchools
      },

      mounted () {
        this.team_checked = this.teamChecked;
      },

      computed : {
            countSelectedSchools () {
                if(this.localSelectedSchools.length == 1){
                    return this.localSelectedSchools.length + " επιλογή";
                }else if(this.localSelectedSchools.length > 1){
                    return this.localSelectedSchools.length + " επιλογές";
                }
            },
            showLabelYperarithmou (){
                return this.label === 'omores' || this.label == 'idiaOmada';
            },
            showLabelOtherYperarithmou (){
                return this.label === 'other';
            },
            showLabelDiathesi (){
                return this.label === 'diathesi';
            },
            showLabelSiblirosi(){
                return this.label === 'siblirosi';
            },
            showLabelApospasiEntos(){
                return this.label === 'apospasi_entos';
            },
            showLabelApospasiEktos(){
                return this.label === 'apospasi_ektos';
            },
            showLabelVeltiwsi(){
                return this.label === 'veltiwsi';
            }
      },

      methods : {
        putBackSchool (obj) {
            this.allSchools.push(obj);
            this.allSchools.sort(this.sortItems);
        },

        initTeam (){
            this.deleteAllSelected();
        },

        refreshSelectedSchools(localSelectedSchools){
            this.$emit('refresh-selected-schools', localSelectedSchools);
        },

        refreshDescription(){
            this.$emit('refresh-description', this.localDescription);
        },

        addSchoolToChoices (obj, index){
          this.localSelectedSchools.push(obj);
          this.$delete(this.allSchools, index);
          this.refreshSelectedSchools(this.localSelectedSchools);
        },

        deleteSelectedSchool(obj, index){
          this.deleteSchool(index);
          this.putBackSchool(obj);
          this.refreshSelectedSchools(this.localSelectedSchools);
        },

        deleteSchool(obj){
            this.$delete(this.localSelectedSchools, obj);
        },

        putBackSchool(obj){
            this.allSchools.push(obj);
            this.allSchools.sort(this.sortItems);
        },

        deleteAllSelected (){
            this.localSelectedSchools.forEach(r => this.putBackSchool(r));
            this.localSelectedSchools = [];
            this.refreshSelectedSchools(this.localSelectedSchools);
        },

        sortItems(a,b){
            if (a.order < b.order){
                return -1;
            }
            if (a.order > b.order){
                return 1;
            }
        }
      }
    }
</script>

    <style>
        [v-cloak] {
          display: none;
        }

        .listAvailableSchools{
            margin-bottom:3px;
            padding-left:10px;
            padding-right: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
            background-color: #D3D3D3;
            border-radius: 5px;
            color:#000000;
            cursor:pointer;
              -o-transition:color .1s ease-out, background 0.5s ease-in;
              -ms-transition:color .1s ease-out, background 0.5s ease-in;
              -moz-transition:color .1s ease-out, background 0.5s ease-in;
              -webkit-transition:color 1s ease-out, background 0.5s ease-in;
              transition:color .1s ease-out, background 0.5s ease-in;
        }
        .listAvailableSchools:hover{
            background-color: darkgrey;
            color: #0000ff;
            font-weight: 800;
        }

        .slideLabel{
            font-size: 12pt;
        }



        input[type=checkbox] {
        	visibility: hidden;
        }


        /* SLIDE THREE */
        .slideThree {
        	width: 80px;
        	height: 26px;
        	background: #cccccc;
        	margin-top: 10px;

        	-webkit-border-radius: 50px;
        	-moz-border-radius: 50px;
        	border-radius: 50px;
        	position: relative;


            -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
            -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
            box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
        }

        .slideThree:after {
        	content: 'ΌΧΙ';
        	font: 12px/26px Arial, sans-serif;
        	color: #FF0000;
        	position: absolute;
        	right: 10px;
        	z-index: 0;
        	font-weight: bold;
        	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
        }

        .slideThree:before {
        	content: 'ΝΑΙ';
        	font: 14px/26px Arial, sans-serif;
        	color: #00bf00;
        	position: absolute;
        	left: 10px;
        	z-index: 0;
        	font-weight: bold;
        }

        .slideThree label {
        	display: block;
        	width: 34px;
        	height: 20px;

        	-webkit-border-radius: 50px;
        	-moz-border-radius: 50px;
        	border-radius: 50px;

        	-webkit-transition: all .4s ease;
        	-moz-transition: all .4s ease;
        	-o-transition: all .4s ease;
        	-ms-transition: all .4s ease;
        	transition: all .4s ease;
        	cursor: pointer;
        	position: absolute;
        	top: 3px;
        	left: 3px;
        	z-index: 1;



            -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
            background: #fcfff4;

        	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
        }

        .slideThree input[type=checkbox]:checked + label {
        	left: 43px;
        }

        .hours-covid{
            color: red;
            font-weight: bold;
        }

        .priority{
            color : blue !important;
        }
    </style>
