<template>
    <div>
        <div class="form-group">
            <label>Είδος τοποθέτησης:</label>
            <select v-model="newPlacement.placementType" 
                class="form-control"
            >
                <option 
                    value="0" 
                    selected 
                />
                <option v-for="(value, index) in types" :value="index">
                    {{ value }}
                </option>
            </select>
        </div>


        <div class="form-group">
            <label>ΌΛΑ ΤΑ ΣΧΟΛΕΙΑ:</label>
            <select 
                v-model="newPlacement.to" 
                class="form-control"
            >
                <option 
                    selected 
                    value="0"
                />
                <option v-for="(value,index) in special_placements" :value="index">
                    {{ value }}
                </option>
                <option v-for="school in schools" :value="school">
                    {{ school.name }}
                </option>
            </select>
        </div>


        <div class="form-group">
            <label>Ώρ:</label>
            <input 
                v-model="newPlacement.hours" 
                type="text"
                placeholder="Ωρες" 
                size="3"
            >

            <label>Ημ:</label>
            <select v-model="newPlacement.days">
                <option 
                    value="0" 
                    selected="selected"
                >
                    -
                </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="form-group">
            <label>Παρατηρήσεις:</label>
            <input 
                v-model="newPlacement.description" 
                type="text" 
                placeholder="Παρατηρήσεις"
            >
            <label for="aitisi">
                με Αίτηση:
            </label>
            <input
                v-model="newPlacement.aitisi"
                name="aitisi" 
                type="checkbox" 
            >
            <label for="pending">
                σε Εκκρεμότητα:
            </label>
            <input
                v-model="newPlacement.pending"
                name="pending" 
                type="checkbox" 
            >
            <date-picker 
                v-model="newPlacement.starts_at" 
                :clearable="from_date.getClearable()" 
                :width="from_date.getWidth()" 
                value-type="format" 
                :format="from_date.getFormat()" 
                :lang="from_date.setLang('από')" 
                :shortcuts="from_date.getShortcuts()" 
                :first-day-of-week="from_date.firstDayOfWeek()"
                :default-value="from_date.setDefaultValue(nextday)"
            /> 

            <date-picker 
                v-model="newPlacement.ends_at" 
                :clearable="to_date.getClearable()" 
                :width="to_date.getWidth()" 
                value-type="format" 
                :format="to_date.getFormat()" 
                :lang="to_date.setLang('μέχρι')" 
                :shortcuts="to_date.getShortcuts()" 
                :first-day-of-week="to_date.firstDayOfWeek()"
                :default-value="to_date.setDefaultValue(lastday)"
            /> 
        </div>

        <button 
            v-if="checkNulls"
            class="btn btn-warning"
            @click="addPlacement"
        >
            Προσθήκη
        </button>
    </div>
</template>

<script>
    import DatePicker from 'vue2-datepicker';
    import DatePickerCustomize from '../../Classes/DatePickerCustomize';


    export default {
        components : {
            DatePicker
        },

        props: {
            types : {
                type : Object,
                required : true
            },
            token : {
                type : String,
                required : true
            },
            nextday : {
                type : String,
                required : true
            },
            lastday : {
                type : String,
                required : true
            }
        },
        
        data (){
            return {
                newPlacement : {
                    to: null,
                    hours: null,
                    days: null,
                    description : '',
                    placementType : 0,
                    aitisi : 1,
                    ellimma : true,
                    pending : 0,
                    starts_at : null,
                    ends_at : null
                },
                special_placements : null,
                schools : [],

                from_date : new DatePickerCustomize(),
                to_date : new DatePickerCustomize()
            }
        },

        computed :{
            checkNulls (){
                if(this.newPlacement.to !== null && this.newPlacement.hours !== null && this.newPlacement.starts_at !== null && this.newPlacement.ends_at !== null && this.newPlacement.placementType !== 0 && this.newPlacement.days !== null){
                    if(this.newPlacement.to !== '' && this.newPlacement.hours !== '' && this.newPlacement.starts_at !== '' && this.newPlacement.ends_at !== '' && this.newPlacement.placementType !== 0 && this.newPlacement.days !== ''){
                        const parsed = parseInt(this.newPlacement.hours);
                        if(!isNaN(parsed)){
                            if(parsed > 0 && parsed <= 40){
                                return true;
                            }
                        }
                    }
                }        
                return false;
            }
        },

        mounted(){
            this.fetchData();
        },

        methods : {
            fetchData (){
                axios.get('/api/admin/placements/fetchDataForNewPlacement?api_token='+this.token)
                .then(r => {
                    this.schools = r.data['schools'];
                    this.special_placements = r.data['special_placements'];
                })
                .catch(e => console.log(e.response));
            },

            addPlacement(){
                this.$emit('add-new-placement', this.newPlacement);
                this.initializeNewPlacement();
            },

            initializeNewPlacement(){
                this.newPlacement = {
                    to: null,
                    hours: null,
                    days: null,
                    description : '',
                    placementType : 0,
                    aitisi : 1,
                    ellimma : true,
                    pending : 0,
                    starts_at : null,
                    ends_at : null
                };
            }
        }

    }
</script>