<template>
    <div>
        <div v-if="topothetisis.length">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="6">
                            Προηγούμενες Πράξεις
                        </th>
                    </tr>
                    <tr>
                        <th>Πράξη</th>
                        <th>Τοποθέτηση</th>
                        <th>Είδος</th>
                        <th>Ώρες/Ημ</th>
                        <th>Παρατηρήσεις</th>
                        <th>Ενέργειες</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(topothetisi_praxis, index) in topothetisis">
                        <td>
                            <a target="_blank" :href="topothetisi_praxis.url">
                                <span v-if="topothetisi_praxis.praxi.praxi_type === 12">
                                    [Πράξη Διευθυντή]:
                                </span>
                                {{ topothetisi_praxis.praxi.decision_number }}η/{{ topothetisi_praxis.praxi.decision_date }}                                        
                            </a>
                        </td>
                        <td>
                                {{ topothetisi_praxis.to }}
                        </td>
                        <td class="text-center">
                            {{ types[topothetisi_praxis.placements_type] }}
                        </td>
                        <td class="text-center">
                            {{ topothetisi_praxis.hours }}Ω/{{ topothetisi_praxis.days }}Η
                        </td>
                        <td>
                            {{ topothetisi_praxis.description }}
                        </td>
                        <td class="text-center">
                            <i  
                                v-if="date !== null && praxi !== null && praxi !== ''"
                                class="fa fa-undo recall-button"                                 
                                title="Ανάκληση Τοποθέτησης" 
                                @click="recallOldPlacement(topothetisi_praxis, index)"
                            />
                            <i
                                v-if="date !== null && praxi !== null && praxi !== ''"
                                class="fa fa-trash delete-button" 
                                title="Οριστική Διαγραφή Τοποθέτησης" 
                                aria-hidden="true"
                                @click="deletePermanentlyPlacement(topothetisi_praxis, index)"
                            />
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">
                            Σύνολο
                        </th>
                        <th class="text-center total-topothetisis">
                            {{ totalTopothetisis }}
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="alert alert-warning" v-else>
            <strong>ΔΕΝ υπάρχει</strong> καμία προηγούμενη τοποθέτηση
        </div>
    </div>
</template>

<script>
    // import Swalify from '../../Classes/Swalify';
    // window.Swalify = Swalify;
    
    export default {
        props: {
            topothetisis : {
                type : Array,
                required : true
            },
            totalTopothetisis : {
                type : Number,
                required : true
            },
            types : {
                type : Object,
                required : true
            },
            token : {
                type : String,
                required : true
            },
            praxi : {
                required : true,
                validator: prop => typeof prop === 'string' || prop === null
            },
            date : {
                required : true,
                validator: prop => typeof prop === 'string' || prop === null
            },
            dieuthidi: {
                required: false,
                type: Boolean,
                default: false
            }
        },

        data () {
            return {
                deletePermanent : new Swalify({
                    title : 'Προσοχή!!',
                    type : 'info',
                    text : 'Θα γίνει Οριστική ΔΙΑΓΡΑΦΗ χωρίς αποθήκευση της τοποθέτησης',
                    buttonText : 'Ναι, Διαγράψτε την',
                    success_title : 'Συγχαρητήρια!',
                    success_text  : 'η τοποθέτηση διεγράφη'
                })
            }
        },

        methods : {
            recallOldPlacement(topothetisi, index){
                var url = '/api/admin/placements/recallOldPlacement?api_token='+this.token

                this.deletePermanent.deletePlacement(url, {
                    dieuthidi   : this.dieuthidi,
                    topothetisi : topothetisi, 
                    praxi       : this.praxi, 
                    date        : this.date,
                    title       : 'Σημείωση!',
                    message     : 'Θα αφαιρεθεί η τοποθέτηση και θα αναγράφεται σε τοποθετήριο η Ανάκληση της',
                    buttonText  : 'Ναι, αφαιρέστε την',
                    successMsg  : 'Έγινε αφαίρεση της τοποθέτησης',
                    successType : 'success',
                    errorMsg    : 'καμία αλλαγή...',
                    errorType   : 'info',
                    color       : '#17a2b8'
                })
                    .then(r => this.deleteNode(this.topothetisis, index))
                    .catch(e => console.log('error 23'))
                // this.hideLoader = false;
                // axios.post('/api/admin/placements/recallOldPlacement?api_token='+this.token, {
                //     topothetisi : topothetisi,
                //     praxi : this.praxi,
                //     date : this.date
                // })
                // .then(r => {
                //     this.hideLoader = true;
                //     this.deleteNode(this.topothetisis, index);
                //     this.$emit('recall-old-placement');
                // })
                // .catch(e => console.log(e.response))  
            },

            deleteOldPlacement(topothetisi, index){
                var url = '/api/admin/placements/deleteOldPlacement?api_token='+this.token

                this.deletePermanent.deletePlacement(url, {
                    topothetisi : topothetisi, 
                    praxi       : this.praxi, 
                    date        : this.date,
                    title       : 'Σημείωση!',
                    message     : 'Θα αφαιρεθεί η τοποθέτηση χωρίς να γίνει οριστική διαγραφή ώστε να φαίνεται στο τοποθετήριο',
                    buttonText  : 'Ναι, αφαιρέστε την',
                    successMsg  : 'Έγινε αφαίρεση της τοποθέτησης',
                    successType : 'success',
                    errorMsg    : 'καμία αλλαγή...',
                    errorType   : 'info',
                    color       : '#ffc107'
                })
                    .then(r => this.deleteNode(this.topothetisis, index))
                    .catch(e => console.log('error 23'))
                // this.hideLoader = false;
                // axios.post('/api/admin/placements/deleteOldPlacement?api_token='+this.token, {
                //     topothetisi : topothetisi,
                //     praxi : this.praxi,
                //     date : this.date
                // })
                //#17a2b8
                // .then(r => {
                //     this.hideLoader = true;
                //     this.deleteNode(this.topothetisis, index);
                //     this.$emit('delete-old-placement');
                // })
                // .catch(e => console.log(e.response))  
            },

            deletePermanentlyPlacement(topothetisi, index){
                var url = '/api/admin/placements/deletePermanentlyPlacement?api_token='+this.token

                this.deletePermanent.deletePlacement(url, {
                    topothetisi : topothetisi, 
                    praxi       : this.praxi, 
                    date        : this.date,
                    title       : 'Προσοχή!',
                    message     : 'Θα γίνει ΟΡΙΣΤΙΚΗ ΔΙΑΓΡΑΦΗ της τοποθέτησης. Είστε σίγουροι;',
                    buttonText  : 'Ναι, διαγράψτε την',
                    successMsg  : 'Έγινε ΔΙΑΓΡΑΦΗ της τοποθέτησης',
                    successType : 'success',
                    errorMsg    : 'καμία αλλαγή...',
                    errorType   : 'info',
                    color       : '#DD6B55'
                })
                    .then(r => this.deleteNode(this.topothetisis, index))
                    .catch(e => console.log('error 23'))
            },

            deleteNode(obj, index){
                this.$delete(obj, index);
            },

            displayAlert(header, body, type, important = false){
                this.$refs.alert.broadcast(header, body, type, important);
            },
        }
    }
</script>

<style>
    .total-topothetisis{
        color: #006400; 
        font-size: 13pt;
    }

    td button.delete{
        font-weight: bold;
        font-size: larger;
        background: none;
        border: 0;
        color:red;
        padding: 0px;
        margin: 1px;
    }

    td button.edit{
        font-weight: bold;
        font-size: larger;
        background: none;
        border: 0;
        color:#ffcc00;
        padding: 0px;
        margin:1px;
    }

    .delete-button{
        color: #943126;
        font-size: 11pt;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
    }

    .permanent-delete{
        color: blueviolet;
        font-size: 11pt;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;   
    }

    .recall-button{
        color: #006666;
        font-size: 11pt;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
    }
</style>