<template>
    <div class="row">
            <div class="col-md-12">
            <div v-if="placements.length">
                <h3 class="text-center">
                    <span 
                        v-if="placements.length" 
                        class="number-of-placements"
                    >
                        {{ placements.length }} - 
                    </span>
                    Τοποθετήσεις
                </h3>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Ονοματεπώνυμο
                                </th>
                                <th class="text-center">
                                    Από
                                </th>
                                <th class="text-center">
                                    Τοποθέτηση
                                </th>
                                <th class="text-center">
                                    Παρατηρήσεις
                                </th>
                                <th class="text-center">
                                    Ώρες
                                </th>
                                <th class="text-center">
                                    Ωρ. Οργαν.
                                </th>   
                                <th class="text-center">
                                    Προηγούμενες
                                </th>
                                <th class="text-center">
                                    Διαφορά
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="(teacher, indexTeacher) in placements" track-by="id">
                                <td>
                                    {{ teacher.full_name }}
                                    <i 
                                        class="fa fa-trash delete-button" 
                                        title="Διαγραφή" 
                                        @click="deleteTeacher(indexTeacher)"
                                    />
                                </td>
                                <td>{{ teacher.organiki }}</td>
                                <td>
                                    <table>
                                        <tr v-for="(p,indexPlacement) in teacher.placements">
                                            <td>
                                                {{ (indexPlacement + 1) }}.
                                                [{{ types[p.placementType] }}]
                                                {{ p.hours }}Ωρ/{{ p.days }}Ημ  στο {{ p.to.name }}
                                                <i 
                                                    class="fa fa-trash delete-button" 
                                                    title="Διαγραφή" 
                                                    @click="deletePlacement(teacher.placements, indexPlacement, indexTeacher)"
                                                />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr v-for="(p, index) in teacher.placements">
                                            <td>
                                                <span v-show="p.description !== ''">
                                                    {{ index + 1 }}. {{ p.description }}
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="text-center total-placements">
                                    {{ total(teacher) }}
                                </td>
                                <td class="text-center">
                                    {{ teacher.orario_organikis }}
                                </td>
                                <td class="text-center">
                                    {{ teacher.totalTopothetisis }}
                                </td>
                                <td class="text-center">
                                    <span 
                                        v-if="difference(teacher) == 0" 
                                        class="difference-ok"
                                    >
                                        <i  
                                            class="fa fa-check-circle-o fa-2x" 
                                            aria-hidden="true"
                                        />
                                    </span>
                                    <span 
                                        v-else 
                                        class="total-difference"
                                    >
                                        {{ difference(teacher) }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props: {
            placements : {
                type : Array,
                required : true
            },
            types : {
                type : Object,
                required : true
            }
        },
        
        methods : {

            difference (teacher){
                return teacher.ypoxreotiko - this.total(teacher) - teacher.totalTopothetisis - teacher.orario_organikis;
            },

            total(teacher){
                let total = 0;
                teacher.placements.forEach(t => {
                    total = total + Number.parseInt(t.hours);
                }, total);
                return total;                
            },

            deleteNode(obj, index){
                this.$delete(obj, index);
            },

            deleteTeacher(index){
                this.deleteNode(this.placements, index);
                this.$emit('delete-placements-of-current-teacher');                
            },

            deletePlacement(teacherPlacements, indexPlacement, indexTeacher){
                this.deleteNode(teacherPlacements, indexPlacement);
                if(teacherPlacements.length === 0){
                    this.deleteTeacher(indexTeacher);
                }
            }
        }
    }
</script>

<style>
    .number-of-placements{
        font-weight: bold
    }

    .total-placements{
        color: #006400; 
        font-weight: bold; 
        font-size: 13pt;
    }
    .total-difference{
        color: #0000ff; 
        font-weight: bold; 
        font-size: 16pt;
    }
    .difference-ok{
        color : #008000;
    }

    .delete-button{
        color: #943126;
        font-size: 11pt;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
    }

</style>