<template>
    <div>
        <div>
            <label class="panel-label-placements">
                Σχέση Εργασίας: <span class="panel-value-placements">{{ currentTeacher.sxesi }}</span>
            </label>
        </div>
        <div v-show="currentTeacher.sxesi === 'ΜΟΝΙΜΟΣ'">
            <label class="panel-label-placements">
                Οργανική: <span class="panel-value-placements">{{ currentTeacher.organiki }}</span>
            </label>
        </div>

        <div v-show="currentTeacher.sxesi === 'ΜΟΝΙΜΟΣ'">
            <label class="panel-label-placements">
                Μόρια: <span class="panel-value-placements">{{ currentTeacher.moria }}</span>
            </label>
        </div>
        <div>
            <label class="panel-label-placements">
                Κλάδος: <span class="panel-value-placements">{{ currentTeacher.klados }}</span>
            </label>
        </div>
        <div>
            <label class="panel-label-placements">
                Εντοπιότητα: <span class="panel-value-placements">{{ currentTeacher.entopiotita }}</span>
            </label>
        </div>
        <div>
            <label class="panel-label-placements">
                Συνυπηρέτηση: <span class="panel-value-placements">{{ currentTeacher.sinipiretisi }}</span>
            </label>
        </div>
        <div>
            <label class="panel-label-placements">
                Ειδική Κατηγορία: <span class="panel-value-placements">{{ currentTeacher.special }}</span>
            </label>
        </div>
        <div>
            <label class="panel-label-placements">
                Υποχρεωτικό Ωράριο: <span class="panel-value-placements ypoxrewtiko">{{ currentTeacher.ypoxreotiko }}</span>
            </label>
        </div>
        <div v-show="currentTeacher.organiki_id < 999">
            <label class="panel-label-placements">
                Ωράριο στην Οργανική: <span class="panel-value-placements">{{ currentTeacher.orario_organikis }}</span>
            </label>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            currentTeacher : {
                type : Object,
                required : true
            }
        }
    }
</script>

<style>
    .ypoxrewtiko{
        color: red; 
        font-size: 13pt;
    }
</style>