<template>
    <div class="divTable" style="width: 100%;border: 1px solid #000;" >
        <div class="divTableBody">
            <div v-if="division.div_id == null" class="divTableRow">
                <div v-for="i in 3"  v-bind:class="{
                    ['divTableCell divCell span_header_' + classes[division.class]] : true
                }">&nbsp;</div>
            </div>
            <div v-else class="divTableRow">
                <div class="divTableCell divCellInput_A">
                    <input  v-bind:class="{
                           ['divCellInput_' + classes[division.class]] : true
                       }"
                       @change="setDivisionsChange"type="text" v-model="division['number']" size="2" maxlength="2">
                </div>

                <div  v-bind:class="{
                    ['divTableCell divCell cell-number span_header_' + classes[division.class] + '_thin'] : true,
                    ['span_header_' + classes[division.class] + '_thin_danger'] : numbersAreDifferent()
                }"
                >
                    {{ division.numberSchoolProvide }}
                </div>
                <div v-bind:class="{
                        ['divTableCell divCell cell-number span_header_' + classes[division.class]] : true
                    }"
                >
                    {{ division.students }}
                </div>
            </div>
            <div v-if="division.name==='ΘΕΤΙΚΩΝ ΣΠΟΥΔΩΝ' && division.class==='Γ'" class="divTableRow">
                <label>2o Πεδίο <input type="checkbox" v-model="division.pedio2" /></label>
                <label>3o Πεδίο <input type="checkbox" v-model="division.pedio3" /></label>
            </div>
            <div v-if="division.name==='ΟΙΚΟΝΟΜΙΑΣ & ΠΛΗΡΟΦ.' && division.class==='Γ'" class="divTableRow">
                <label>Συνδιδασκαλία:<input type="checkbox" v-model="division.oligomeles" /></label>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            division : Object
        },

        data (){
            return {
                classes : {
                    'Α' : 'A',
                    'Β' : 'B',
                    'Γ' : 'C'
                }
            }
        },

        methods : {
            numbersAreDifferent(){
                return this.division.number != this.division.numberSchoolProvide;
            },

            setDivisionsChange(){
                console.log('set Division Change Function');
            }
        }
    }
</script>

<style>
    .divTableCell .divCell{
        padding: 3px 10px;
    }
    .divCellInput_A{
        background-color : #f08a24;
        width: 100%;
        text-align: center;
        color : #000000;
        font-weight : bold;
    }
    .divCellInput_B{
        background-color : #68829e;
        width: 100%;
        text-align: center;
        color : #000000;
        font-weight : bold;
    }
    .divCellInput_C{
        background-color : #486b00;
        width: 100%;
        text-align: center;
        color : #000000;
        font-weight : bold;
    }
</style>


