<template>
    <div>
        <lyceum-extra-table :extra_division="divisions['general']" />
    </div>
</template>

<script>
    import Alert from '../../../Classes/Alert';

    import LyceumExtraTable from './LyceumExtraTable.vue';

    export default {
        components : {
            LyceumExtraTable
        },

        props : {
            divisions : {
                type: Object,
                required: true
            }
        },

        data (){
            return {
                alert : new Alert(),
                hideLoader : false,
            }
        },

        methods : {
            displayAlert(title, body, type, duration = 3000, speed = 300){
                this.$emit('notification-message', {
                    title, body, type, duration, speed
                });
            },

            displayMessage(data){
                this.displayAlert(data.title, data.message, data.type, data.duration);
            },
        }
    }
</script>
