<template>
    <div>
        <p class="vacuum-title">
             Καταχώρηση Τμημάτων Γενικής Παιδείας
        </p>
        <div 
            v-cloak 
            v-if="loading" 
            class="panel-body text-center"
        >
            <img 
                class="loading" 
                src="/images/Ripple.gif" 
            >
            <h5>παρακαλώ περιμένετε...</h5>
        </div>

        <div 
            v-else 
            v-cloak 
            class="row"
        >
            <div class="col-md-7">
                <table 
                        class="div-general-table"
                        border="1"
                    >
                        <thead>
                            <tr>
                                <th />
                                <th 
                                    class="table_th span_header" 
                                    colspan="3"
                                >
                                    ΤΑΞΕΙΣ
                                </th>
                            </tr>
                            <tr>
                                <th width="70%" class="table_th">ΣΧΟΛΙΚΕΣ ΜΟΝΑΔΕΣ</th>
                                <th width="10%" class="table_th">Α</th>
                                <th width="10%" class="table_th">Β</th>
                                <th width="10%" class="table_th">Γ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr 
                                v-for="(school, index) in schools"
                                v-cloak 
                                :key="index"
                            >
                                <td class="school-name" style="font-size: 12pt">
                                        {{ school.name }}
                                </td>
                                <td 
                                    v-for="(div, dindex) in school.divisions"
                                    :key="div.id"

                                    align="center" 
                                >
                                    <table class="table-details">
                                        <tr>
                                            <td>
                                                <input 
                                                    v-model="div.students"
                                                    size="3" 
                                                    maxlength="3"
                                                    :class="{
                                                        'input-divs' : true
                                                    }" 
                                                    :tabindex="(index)*3 +  (dindex+1)"
                                                    type="text"
                                                    @keyup="checkInputValue(div)"
                                                >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input 
                                                    v-model="div.number"
                                                    size="3" 
                                                    maxlength="3"
                                                    :class="{
                                                        'input-divs' : true,
                                                    }" 
                                                    type="text"
                                                    @keyup="checkDivValue(div)"
                                                >
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>            
            </div>

            <div 
                v-if="madeChanges"
                class="col-md-2"
            >
                <button
                    v-if="!disableButton"
                    v-cloak
                    class="btn btn-warning btn-lg button-save button-fixed"
                    @click="saveDivs" 
                >
                    Αποθήκευση
                </button>
                <button
                    v-if="disableButton"
                    v-cloak
                    class="btn btn-warning btn-lg button-save disabled button-fixed"
                >
                    <i class="fa fa-spinner fa-spin" />
                        παρακαλώ περιμένετε...
                </button>
            </div>   
        </div>
    </div>   
</template>

<script>
    import Div from '../../../Classes/Division';
    import Hours from '../../../Classes/Hours';
    import Alert from '../../../Classes/Alert';

    export default {

        data () {
            return {
                alert : new Alert(),

                tabindex: 0,

                madeChanges : false,
                loading : true,
                disableButton : false,

                schools : null,

                token : window.api_token,
                base_url : window.base_url,
            }
        },


        mounted(){
            this.fetchSchools();
        },

        methods : {
            upTabIndex(){
                this.tabindex++
            },

            saveDivs(){
                this.disableButton = true;

                axios.post('/api/school/organika/admin/saveGeneralDivs?api_token='+this.token, {
                    schools : this.schools
                })
                    .then(r => {
                        this.disableButton = false;
                        this.madeChanges = false;
                        this.displayMessage(this.alert.success('Η καταχώρηση των τμημάτων έγινε <strong>με επιτυχία</strong>'));
                    })
                    .catch(r => {
                        this.displayAlert('Προσοχή!', `Λάθος 430.456 ${r.response.data.message}`, 'error', -1);
                    });
            },

            checkDivValue(div){
                let hours = new Hours(div.number);

                if(hours.checkIfIsPositive() !== null){
                    this.setNumber(div, hours);
                    this.changeMade();

                }else{
                    this.setNullToNumber(div);
                    this.madeChanges = false;

                }
            },

            checkInputValue(div){

                let divClass = new Div('ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ', div.class, div.students);

                if(divClass.checkIfStudentsArePositive() !== null){
                    this.calculateDivisions(div, divClass);
                    this.changeMade();
                }else{
                    this.setNullToDivClass(div);
                    this.madeChanges = false;
                }
            },

            setNumber(div, hours){
                div.number = hours.convertToInt();
            },

            calculateDivisions(general_division, divClass){
                divClass.setNumber();

                general_division.students = divClass.getStudents();
                general_division.number = divClass.getNumber();
                general_division.numberSchoolProvide = divClass.getNumber();
            },

            setNullToDivClass(div){
                div.students = null;

                this.setNullToNumber(div);
            },

            setNullToNumber(div){
                this.displayMessage(this.alert.error('Ο αριθμός <strong>ΔΕΝ</strong> είναι ακέραιος'));

                div.number = null;
            },

            fetchSchools(){
                this.loading = true;
                axios.get('/api/school/organika/admin/fetchSchools?api_token='+this.token)
                    .then(r => {
                        this.schools = r.data;
                        this.loading = false;
                    })
                    .catch(r => {
                        this.displayAlert('Προσοχή!', `Λάθος 330.346 ${r.response.data.message}`, 'error', -1);
                    });
            },


            changeMade (){
                this.madeChanges = true;
            },

            displayAlert(title, body, type, duration = 3000, speed = 300){
                this.$emit('notification-message', {
                    title, body, type, duration, speed
                });
            },

            displayMessage(data){
                this.displayAlert(data.title, data.message, data.type, data.duration);
            }
        }   
    }
</script>


<style lang="scss">
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 0;
        padding-top: 80px;
        margin: 0;
        h2 {
            font-weight: 300;
            a {
                color: black;
                font-size: 12px;
            }
        }

        #app {
            // text-align: center;
            color: #2c3e50;
            .content {
                margin: 0 auto;
                max-width: 420px;
            }
        }
    }

    .vacuum-title{
        /*margin-top: 2em;*/
        font-size: 16pt;
        margin-bottom: 0;
        padding-bottom: 0.3em;
        text-align: center;
        line-height: 1;
    }

    .vacuum-title:after{
        content: '';
        display: block;
        width: 70px;
        height: 3px;
        margin: 5px auto 0;
        background-color: #F6624A;
    }

    .sub-button {
        display: inline-block;
        float: right;
        background: #E54D42;
        padding: 4px;
        box-shadow: 0 5px 15px 0px rgba(46, 61, 73, 0.1);
    }

    .locked{
        /*background-color: #008000;*/
        text-align: center;
    }
    .unlocked{
        /*background-color: #0000cc;*/
        text-align: center;
        font-size: 12pt;
    }
    .computed{
        /*background-color: #183c60;*/
        text-align: center;
    }
    .table_th{
        text-align: center;
        background-color: #99a3a4;
    }
    .locked_cell{
        background-color: #99A3A4;
    }
    .span_header{
        background-color: #3498DB;
        color: #f5f5f5;
    }

    .div-general-table  th{
        padding: 2px;
    }

    .div-general-table tr:nth-child(even){
        background-color: #ccc;
    }

    // .div-general-table td{
    //     padding: 10px;
    // }

    .input-divs{
        font-weight: bold;
        text-align: center;
        font-size: 14pt;
    }
    .school-name{
        font-size: 12pt;
        padding-left: 10px;
    }

    .button-save{
        font-size: 18pt;
        font-weight: bold;
    }

    .table-details{
        width: 100%;
    }

    .button-fixed{
        position: fixed !important;
        top : 40%;
        right : 40%;
    }

</style>