<template>
    <div>
        <div class="col-md-12">
            <table border="1">
                <thead>
                    <tr style="text-align: center">
                        <th align="center" />
                        <th>Α</th>
                        <th>Β</th>
                        <th>Γ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        :key="index"
                        v-for="(div, index) in divisions"
                    >
                        <td style="padding-top:2px; padding-bottom:2px; padding-left: 2px">
                            {{ index }}
                        </td>
                        <td v-for="i in 3">
                            <input 
                                v-model="div[i-1]['number']" 
                                style="text-align: center" 
                                type="text" 
                                size="2" 
                                maxlength="2"
                                @keyup="setDivisionsChange(div[i-1])" 
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <div class="col-md-12">
            <table border="1">
                <thead>
                    <tr>
                        <th 
                            align="center" 
                            colspan="4"
                        >
                            Δήλωση Σχολείου
                        </th> 
                    </tr>
                    <tr>
                        <th align="center" />
                        <th 
                            align="center" 
                            style="padding-left:5px; padding-right:5px"
                        >
                            Α [ {{ divisions | generalA }} ]
                        </th>
                        <th 
                            align="center" 
                            style="padding-left:5px; padding-right:5px"
                        >
                            Β [ {{ divisions | generalB }} ]
                        </th>
                        <th 
                            align="center" 
                            style="padding-left:5px; padding-right:5px"
                        >
                            Γ [ {{ divisions | generalC }} ]
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        v-for="(groupedDivision, index) in divisions"
                        :key="index"
                    >
                        <td 
                            style="padding-top:2px; padding-bottom:2px; padding-left: 2px"
                        >
                            {{ index }}
                        </td>

                        <td 
                            :class="{
                                'differentNumbers' : differentNumbers(groupedDivision,'Α')
                            }" 
                            align="center" 
                            style="padding-left:15px; padding-right:15px"
                        >
                            {{ groupedDivision | filterAschool }}
                        </td>

                        <td 
                            :class="{
                                'differentNumbers' : differentNumbers(groupedDivision,'Β')
                            }"  
                            align="center" 
                            style="padding-left:15px; padding-right:15px"
                        >
                            {{ groupedDivision | filterBschool }}
                        </td>

                        <td 
                            :class="{
                                'differentNumbers' : differentNumbers(groupedDivision,'Γ')
                            }"  
                            align="center" 
                            style="padding-left:15px; padding-right:15px"
                        >
                            {{ groupedDivision | filterCschool }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import Alert from '../../../Classes/Alert';
    import Hours from '../../../Classes/Division';
import Division from '../../../Classes/Division';


    export default {

        filters : {
            filterA (array){
                let node = array.find(function(element){
                    return element['class'] ==='Α';
                });

                return  node !== undefined ? node['number'] : 0;
            },
            filterB (array){
                let node = array.find(function(element){
                    return element['class'] ==='Β';
                });

                return node !== undefined ? node['number'] : 0;
            },
            filterC (array){
                let node = array.find(function(element){
                    return element['class'] ==='Γ';
                });

                return node !== undefined ? node['number'] : 0;
            },
            filterAschool (array){
                let node = array.find(function(element){
                    return element['class'] ==='Α';
                });

                return  node !== undefined ? node['numberSchoolProvide'] : 0;
            },
            filterBschool (array){
                let node = array.find(function(element){
                    return element['class'] ==='Β';
                });

                return node !== undefined ? node['numberSchoolProvide'] : 0;
            },
            filterCschool (array){
                let node = array.find(function(element){
                    return element['class'] ==='Γ';
                });

                return node !== undefined ? node['numberSchoolProvide'] : 0;
            },

            filterAstudents (array){
                let node = array.find(function(element){
                    return element['class'] ==='Α';
                });

                return  node !== undefined ? node['students'] : 0;
            },
            filterBstudents (array){
                let node = array.find(function(element){
                    return element['class'] ==='Β';
                });

                return node !== undefined ? node['students'] : 0;
            },
            filterCstudents (array){
                let node = array.find(function(element){
                    return element['class'] ==='Γ';
                });

                return node !== undefined ? node['students'] : 0;
            },

            generalA (object){
                let genikis =  object['ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ'];
                let node = genikis.find(function(element){
                    return element['class'] ==='Α';
                });

                return node['students'];
            },
            generalB (object){
                let genikis =  object['ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ'];
                let node = genikis.find(function(element){
                    return element['class'] ==='Β';
                });

                return node['students'];
            },
            generalC (object){
                let genikis =  object['ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ'];
                let node = genikis.find(function(element){
                    return element['class'] ==='Γ';
                });

                return node['students'];
            }
        },

        props : {
            divisions : {
                type: Object,
                required: true
            }
        },

        data (){
            return {
                alert : new Alert(),
                hideLoader : false,
            }
        },

        methods : {
            setDivisionsChange(div){
                let cell = new Division(div['name'], div['class'], div['students']);
                
                cell.setMyNumber(div['number']);

                let number = cell.checkIfIsPositive();

                if(number !== null){
                    div['number'] = number;
                }else{
                    div['number'] = null;
                    this.displayMessage(this.alert.error('Ο αριθμός <strong>ΔΕΝ</strong> είναί ακέραιος'));
                }

                this.divisionsChanged = true;
            },

            differentNumbers(array, className){
                let node = array.find(function(element){
                    return element['class'] === className;
                });

                if(node !== undefined){
                    return node['number'] !== node['numberSchoolProvide'];
                }else{
                    return false;
                }
            },
        
            displayAlert(title, body, type, duration = 3000, speed = 300){
                this.$emit('notification-message', {
                    title, body, type, duration, speed
                });
            },

            displayMessage(data){
                this.displayAlert(data.title, data.message, data.type, data.duration);
            },
        }
    }
</script>
