<template>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th align="center">
                        Ειδικότητα
                    </th>
                    <th align="center">
                        Ώρες Διδασ. Συμβ.
                    </th>
                    <th align="center">
                        Ώρες Διδασκαλίας
                    </th>
                    <th align="center">
                        Ωράριο Εκπ/κων
                    </th>
                    <th 
                        v-show="schoolType === 'gym'" 
                        align="center"
                    >
                        Εργ. Δεξ.
                    </th>
                    <th align="center">
                        Διαφ.
                    </th>
                    <th align="center">
                        Διαφ. Συμβ.
                    </th>
                    <th align="center">
                        Κενά-Πλεονάσματα
                    </th>
                    <th align="center">
                        Αρ. Καθ.
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr 
                    v-for="eidikotita in eidikotites"
                    v-cloak 
                    :key="eidikotita.id"
                >
                    <td style="padding-left:3px">
                        <div 
                            v-cloak 
                            v-if="eidikotita.pivot.available > 0"
                        >
                            <a 
                                href="#" 
                                @click.prevent="modalTeachersByEidikotita(eidikotita.eidikotita_slug)"
                            >
                                {{ eidikotita.eidikotita_slug }} - {{ eidikotita.eidikotita_name }}
                            </a>
                        </div>

                        <div 
                            v-cloak 
                            v-else
                        >
                            {{ eidikotita.eidikotita_slug }} - {{ eidikotita.eidikotita_name }}
                        </div>
                    </td>

                    <td>
                        <input 
                            v-model="eidikotita.pivot.council_forseen" 
                            type="text" 
                            maxlength="3" 
                            class="council-text"
                            @keyup="updateCouncilDifference(eidikotita)" 
                        >
                    </td>

                    <td align="center">
                        <span 
                            :class="{
                                'different-from-council' : eidikotita.pivot.council_forseen != eidikotita.pivot.forseen
                            }"
                        >
                            {{ eidikotita.pivot.forseen }}
                        </span>
                    </td>

                    <td 
                        align="center"
                    >
                        {{ eidikotita.pivot.available }}
                    </td>

                    <td 
                        v-cloak 
                        v-show="schoolType === 'gym'" 
                        align="center"
                    >
                        <span v-show="eidikotita.pivot.project_hours > 0">
                            {{ eidikotita.pivot.project_hours }}
                        </span>
                    </td>

                    <td align="center">
                        {{ eidikotita.pivot.difference }}
                    </td>

                    <td align="center">
                        {{ eidikotita.pivot.council_difference }}
                    </td>

                    <td class="council-cell">
                        <div 
                            v-cloak 
                            v-if="eidikotita.pivot.council_difference >= 7"
                        >
                            <span class="pleonasma">
                                {{ eidikotita.pivot.council_difference }}
                            </span>
                        </div>

                        <div 
                            v-cloak 
                            v-if="eidikotita.pivot.council_difference < -11"
                        >
                            <span class="elleima">
                                {{ eidikotita.pivot.council_difference }}
                            </span>
                        </div>
                    </td>
                    <td align="center">
                        {{ eidikotita.pivot.number_of_teachers }}
                    </td>
                </tr>
            </tbody>
        </table>
        <modal 
            v-cloak
            :show="openTeachersModal"
            :loader="hideLoader"
            type="agreement"
            size="large"
            @cancel-the-request="cancelOperation"
        >
            <h5 slot="title">
                {{ eidikotitaName }}
            </h5>
            <table 
                slot="body" 
                class="table table-bordered"
            >
                <thead>
                    <th align="center">
                        Επώνυμο
                    </th>
                    <th align="center">
                        Όνομα
                    </th>
                    <th align="center">
                        Πατρώνυμο
                    </th>
                    <th align="center">
                        ΑΜ
                    </th>
                    <th align="center">
                        Υπ. Ωράριο
                    </th>
                    <th align="center">
                        Υπεράριθμος
                    </th>
                    <th align="center">
                        Παρατηρήσεις
                    </th>
                </thead>
                <tbody>
                    <tr 
                        v-for="(teacher, index) in teachers" 
                        :key="index"
                        :class="{
                            'is_yperarithmos' : teacher.yperarithmos
                        }"
                    >
                        <td>{{ teacher.last_name }}</td>
                        <td>{{ teacher.first_name }}</td>
                        <td>{{ teacher.middle_name }}</td>
                        <td align="center">
                            {{ teacher.am }}
                        </td>
                        <td align="center">
                            {{ teacher.ypoxreotiko }}
                        </td>
                        <td align="center">
                            <input 
                                v-model="teacher.yperarithmos" 
                                type="checkbox" 
                                class="checkbox-modal" 
                                @click="toggleYperarithmiaValue(teacher)"
                            >                        
                        </td>
                        <td>
                            <div v-if="teacher.yperarithmos">
                                <select 
                                    v-model="teacher.description"
                                    name="description" 
                                    @change="saveDescription(teacher)" 
                                >
                                    <option 
                                        disabled 
                                        value=""
                                    >
                                        Αιτιολογία:
                                    </option>
                                    <option 
                                        v-for="(d, ind) in descriptions" 
                                        :key="ind"
                                        :value="d"
                                    >
                                        {{ d }}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </modal>
    </div>
</template>

<script>
    import Modal from '../../Modal.vue';

    import Alert from '../../../Classes/Alert';
    import Hours from '../../../Classes/Hours';

    export default {
        components: {
            Modal
        },

        props : {
            schoolType : {
                type: String,
                required: true
            },
            eidikotites : {
                type: Array,
                required: true
            }
            ,schoolSelected : {
                type: String,
                required : true
            }
        },

        data (){
            return {
                alert : new Alert(),
                hideLoader : false,
                eidikotitaName : null,
                teachers : [],

                openTeachersModal : false,

                descriptions : [
                    'με αίτηση',
                    'αυτοδίκαια',
                    'τελευταία τοποθετημένος/η'
                ],

            }
        },

        methods : {
            updateCouncilDifference(eidikotita){
                let hours = new Hours(eidikotita.pivot.council_forseen);

                let checkedNumber = hours.checkIfIsPositive();

                if(checkedNumber !== null){
                    let project_hours = eidikotita.pivot.project_hours;
                    let council_forseen = checkedNumber;

                    eidikotita.pivot.council_difference =  eidikotita.pivot.available - council_forseen - project_hours;

                    this.$emit('display-council-button');

                }else{
                    eidikotita.pivot.council_forseen = null;
                    this.displayMessage(this.alert.error('Ο αριθμός <strong>ΔΕΝ</strong> είναι ακέραιος'));
                }

                // this.checkIfValidNumber(eidikotita.pivot.council_forseen);



                // if(this.isPositive && !this.notInteger){

                // }else{
                //     this.displayMessage(this.alert.error('Ο αριθμός <strong>ΔΕΝ</strong> είναι ακέραιος'))
                //     this.displayAlert('Προσοχή!', 'δεν έχετε εισάγε σωστά δεδομένα', 'danger');
                // }
            },
            modalTeachersByEidikotita(eidikotita){
                let school_name = this.schoolSelected.replace(/ /g, '-');
                axios.post('/aj/vacuum/getTeachersOfSchool/'+school_name, {
                    eidikotita : eidikotita
                })
                    .then(r => {
                        this.teachers = r.data;
                        this.eidikotitaName = eidikotita;
                        this.openTeachersModal = true;
                    })
                    .catch(e => this.displayMessage(`Error 423: ${this.alert.alwaysError(e.message)}`))
            },

            saveDescription(teacher){
                axios.post('/aj/vacuum/saveDescriptionOfTeacher', {
                    description : teacher.description,
                    afm : teacher.afm
                })
                    .then(r => this.displayMessage(this.alert.success(r.data)))
                    .catch(e => this.displayMessage(`Error 123: ${this.alert.alwaysError(e.message)}`))
            },

            toggleYperarithmiaValue(teacher){
                axios.post('/aj/vacuum/toggleYperarithmiaValueOfTeacher', {
                    afm : teacher.afm
                })
                    .then(r => this.displayMessage(this.alert.success('Η Αλλαγή αποθηκεύτηκε με επιτυχία...')))
                    .catch(e => this.displayMessage(`Error 243: ${this.alert.alwaysError(e.message)}`))
            },

            displayAlert(title, body, type, duration = 3000, speed = 300){
                this.$emit('notification-message', {
                    title, body, type, duration, speed
                });
            },

            displayMessage(data){
                this.displayAlert(data.title, data.message, data.type, data.duration);
            },

            cancelOperation (){
                this.openTeachersModal = false;
            }

        }
    }
</script>

<style>

</style>