<template>
    <div>
        <table class="table-for-lyceum" border="1">
            <thead>
                <tr>
                    <th colspan="9" class="span_header">ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ</th>
                </tr>
                <tr style="text-align: center">
                    <th colspan="3" class="span_header_A">Α</th>
                    <th colspan="3" class="span_header_B">Β</th>
                    <th colspan="3" class="span_header_C">Γ</th>
                </tr>
                <tr>
                    <th class="span_header_A">Τμ.</th>
                    <th class="span_header_A">Σχ.</th>
                    <th class="span_header_A">Μαθ.</th>
                    <th class="span_header_B">Τμ.</th>
                    <th class="span_header_B">Σχ.</th>
                    <th class="span_header_B">Μαθ.</th>
                    <th class="span_header_C">Τμ.</th>
                    <th class="span_header_C">Σχ.</th>
                    <th class="span_header_C">Μαθ.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cell-number span_header_A">{{ general_division | filterA }}</td>
                    <td class="cell-number span_header_A">{{ general_division | filterASchool }}</td>
                    <td class="cell-number span_header_A">{{ general_division | filterAStudents }}</td>
                    <td class="cell-number span_header_B">{{ general_division | filterB }}</td>
                    <td class="cell-number span_header_B">{{ general_division | filterBSchool }}</td>
                    <td class="cell-number span_header_B">{{ general_division | filterBStudents }}</td>
                     <td class="cell-number span_header_C">{{ general_division | filterC }}</td>
                     <td class="cell-number span_header_C">{{ general_division | filterCSchool }}</td>
                     <td class="cell-number span_header_C">{{ general_division | filterCStudents }}</td>
                </tr>
            </tbody>
        </table>

        <alert ref="alert"></alert>

    </div>
</template>

<script>
    import Alert from './../../../../../../resources/assets/js/components/Alert.vue';

    export default {
        props: {
            general_division : {
                type : Array,
                required : true
            }
        },

            filters : {
                filterA (array){
                    let node = array.find(function(element){
                        return element['class'] ==='Α';
                    });

                    return  node !== undefined ? node['number'] : 0;
                },
                filterB (array){
                    let node = array.find(function(element){
                        return element['class'] ==='Β';
                    });

                    return node !== undefined ? node['number'] : 0;
                },
                filterC (array){
                    let node = array.find(function(element){
                        return element['class'] ==='Γ';
                    });

                    return node !== undefined ? node['number'] : 0;
                },
                filterASchool (array){
                    let node = array.find(function(element){
                        return element['class'] ==='Α';
                    });

                    return  node !== undefined ? node['numberSchoolProvide'] : 0;
                },
                filterBSchool (array){
                    let node = array.find(function(element){
                        return element['class'] ==='Β';
                    });

                    return node !== undefined ? node['numberSchoolProvide'] : 0;
                },
                filterCSchool (array){
                    let node = array.find(function(element){
                        return element['class'] ==='Γ';
                    });

                    return node !== undefined ? node['numberSchoolProvide'] : 0;
                },

                filterAStudents (array){
                    let node = array.find(function(element){
                        return element['class'] ==='Α';
                    });

                    return  node !== undefined ? node['students'] : 0;
                },
                filterBStudents (array){
                    let node = array.find(function(element){
                        return element['class'] ==='Β';
                    });

                    return node !== undefined ? node['students'] : 0;
                },
                filterCStudents (array){
                    let node = array.find(function(element){
                        return element['class'] ==='Γ';
                    });

                    return node !== undefined ? node['students'] : 0;
                }
            },


      methods : {

            displayAlert(header, body, type, important = false){
                this.$refs.alert.broadcast(header, body, type, important);
            }
      },
      components : {
          Alert
      }
    }
</script>

<style>
        .locked{
            /*background-color: #008000;*/
            text-align: center;
        }
        .unlocked{
            /*background-color: #0000cc;*/
            text-align: center;
            font-size: 12pt;
        }
        .table_th{
            text-align: center;
        }
        .locked_cell{
            background-color: #99A3A4;
        }
        .span_header{
            background-color: #505050;
            color: #f5f5f5;
        }
        .span_header_A{
            background-color: #f08a24;
            color: #000000;
        }
        .span_header_B{
            background-color: #68829e;
            color: #000000;
        }
        .span_header_C{
            background-color: #486b00;
            color: #000000;
        }
        .delete-button{
            color: red;
            font-size: 11pt;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 10px;
        }
        .add-button{
            color: #008000;
            font-size: 11pt;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer
        }
        .general-table{
           margin: auto;
           /*width: 50% !important;*/
        }

        .table-for-lyceum{
            width: 100%;
        }
        .table-for-lyceum th{
            text-align: center;
        }

        .table-for-lyceum .cell-number{
            text-align: center;
        }
</style>
