<template>
    <div>
        <lyceum-extra-table :extra-division="divisions['general']" />

        <br>

        <lyceum-extra-table 
            :extra-division="divisions['foreign']" 
            title="ΞΕΝΕΣ ΓΛΩΣΣΕΣ" 
        />

        <br>

        <lyceum-extra-table 
            :extra-division="divisions['direction']" 
            title="ΚΑΤΕΥΘΥΝΣΗΣ" 
        />

    </div>
</template>

<script>
    import Alert from '../../../Classes/Alert';

    import LyceumExtraTable from './LyceumExtraTable.vue';
    import ProjectsTable from '../ProjectsTable.vue';

    export default {
        components : {
            LyceumExtraTable, ProjectsTable
        },

        props : {
            divisions : {
                type: Object,
                required: true
            },

            projects : {
                type: Array,
                required: true
            },

            listProjects : {
                type: Array,
                required: true
            }
        },

        data (){
            return {
                alert : new Alert(),
                hideLoader : false,
            }
        },

        methods : {
            displayAlert(title, body, type, duration = 3000, speed = 300){
                this.$emit('notification-message', {
                    title, body, type, duration, speed
                });
            },

            displayMessage(data){
                this.displayAlert(data.title, data.message, data.type, data.duration);
            },
        }
    }
</script>
