<template>
    <div class="divTable" style="width: 100%;border: 1px solid #000;" >
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell span_header">
                    {{ title }}
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">
                    <div class="divTable" style="width: 100%;border: 1px solid #000;" >
                        <div class="divTableBody">
                            <div class="divTableRow">
                                <div class="divTableCell">&nbsp;</div>
                                <div v-if="title!='ΚΑΤΕΥΘΥΝΣΗΣ'" class="divTableCell span_header_A">Α</div>
                                <div class="divTableCell span_header_B">Β</div>
                                <div v-if="title!='ΞΕΝΕΣ ΓΛΩΣΣΕΣ'" class="divTableCell span_header_C">Γ</div>
                            </div>
                            <div class="divTableRow">
                                <div class="divTableCell">&nbsp;</div>

                                <div v-if="title!='ΚΑΤΕΥΘΥΝΣΗΣ'" class="divTableCell">
                                    <div class="divTable" style="width: 100%;border: 1px solid #000;">
                                        <div class="divTableBody">
                                            <div class="divTableRow">
                                                <div class="divTableCell span_header_A">Τμ.</div>
                                                <div class="divTableCell span_header_A">Σχ.</div>
                                                <div class="divTableCell span_header_A">Μαθ.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="divTableCell">
                                    <div class="divTable" style="width: 100%;border: 1px solid #000;">
                                        <div class="divTableBody">
                                            <div class="divTableRow">
                                                <div class="divTableCell span_header_B">Τμ.</div>
                                                <div class="divTableCell span_header_B">Σχ.</div>
                                                <div class="divTableCell span_header_B">Μαθ.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div v-if="title!='ΞΕΝΕΣ ΓΛΩΣΣΕΣ'" class="divTableCell">
                                    <div class="divTable" style="width: 100%;border: 1px solid #000;">
                                        <div class="divTableBody">
                                            <div class="divTableRow">
                                                <div class="divTableCell span_header_C">Τμ.</div>
                                                <div class="divTableCell span_header_C">Σχ.</div>
                                                <div class="divTableCell span_header_C">Μαθ.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divTableRow" v-for="(divGroup, groupName) in extraDivision">
                                <div class="divTableCell cell-name group-name">
                                    {{ groupName }}
                                </div>
                                <div v-for="i in theArray" class="divTableCell">
                                    <cell-group :division="divGroup[i-1]"></cell-group>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CellGroup from './CellGroup.vue';

    export default {
        components : {
            CellGroup
        },

        computed:{
            isForeign(){
                return (this.title == 'ΞΕΝΕΣ ΓΛΩΣΣΕΣ')
            },

            isDirection(){
                return (this.title == 'ΚΑΤΕΥΘΥΝΣΗΣ')
            },

            theArray(){
                if (this.isForeign) return [1,2]

                if(this.isDirection) return [2,3]

                return [1,2,3]
            }
        },

        props: {
            extraDivision : {
                type : Object,
                required : true
            },
            title : {
                type : String,
                default : ''
            }
        }
    }
</script>

<style>
        .locked{
            /*background-color: #008000;*/
            text-align: center;
        }
        .unlocked{
            /*background-color: #0000cc;*/
            text-align: center;
            font-size: 12pt;
        }
        .table_th{
            text-align: center;
        }
        .locked_cell{
            background-color: #99A3A4;
        }
        .span_header{
            background-color: #505050;
            color: #f5f5f5;
            text-align : center;
            padding-top : 4px;
            padding-bottom : 4px;
        }
        .span_header_A{
            background-color: #f08a24;
            color: #000000;
            text-align : center;
        }
        .span_header_A_thin{
            background-color: #F8CC9F;
            color: #000000;
        }
        .span_header_A_thin_danger{
            color: red;
            font-weight: bold;
        }
        .span_header_B{
            background-color: #68829e;
            color: #000000;
            text-align : center;
        }
        .span_header_B_thin{
            background-color: #9EADBD;
            color: #000000;
        }
        .span_header_B_thin_danger{
            color: red;
            font-weight: bold;
        }
        .span_header_C{
            background-color: #486b00;
            color: #000000;
            text-align : center;
        }
        .span_header_C_thin{
            background-color: #93A967;
            color: #000000;
        }
        .span_header_C_thin_danger{
            color: red;
            font-weight: bold;
        }
        .delete-button{
            color: red;
            font-size: 11pt;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 10px;
        }
        .add-button{
            color: #008000;
            font-size: 11pt;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer
        }
        .general-table{
           margin: auto;
           /*width: 50% !important;*/
        }
        .table-for-lyceum{
            width: 100%;
            border-collapse: collapse;
        }
        .table-for-lyceum, th, td {
          border: 1px solid black;
        }
        .table-for-lyceum th{
            text-align: center;
        }

        .table-for-lyceum .cell-number{
            text-align: center;
        }



        .divTable{
            display: table;
            border-collapse:collapse;
            width: 100%;
        }
        .divTableRow {
            display: table-row;
        }
        .divTableHeading {
            background-color: #EEE;
            display: table-header-group;
        }
        .divTableCell, .divTableHead {
            border: 1px solid #999999;
            display: table-cell;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .divTableHeading {
            background-color: #EEE;
            display: table-header-group;
            font-weight: bold;
        }
        .divTableFoot {
            background-color: #EEE;
            display: table-footer-group;
            font-weight: bold;
        }
        .divTableBody {
            display: table-row-group;
        }
        .cell-name{
            padding-left : 3px;
        }
        .group-name{
            font-size: 9pt;
        }
</style>
