<template>
    <table 
        class="table-pe04" 
        border="1"
    >
        <thead>
            <tr>
                <th     
                    class="t-center" 
                    colspan="5"
                >
                    Πίνακας κλάδου ΠΕ04
                </th>
            </tr>
            <tr>
                <th />
                <th class="t-center">
                    Ανάγκες
                </th>
                <th class="t-center">
                    Διαθέσιμες
                </th>
                <th 
                    v-show="schoolType === 'lyk'" 
                    class="t-center"
                >
                    Project
                </th>
                <th class="t-center">
                    Αποτέλεσμα
                </th>
            </tr>
        </thead>
        <tbody>
            <tr 
                v-for="(eid04, index) in kladosPe04"
                :key="index"
            >
                <td class="t-title">
                    {{ eid04.eidikotita_slug }}
                </td>
                <td class="t-center">
                    {{ eid04.pivot.council_forseen }}
                </td>
                <td class="t-center">
                    {{ eid04.pivot.available }}
                </td>
                <td 
                    v-show="schoolType === 'lyk'" 
                    class="t-center"
                >
                    {{ eid04.pivot.project_hours }}
                </td>
                <td 
                    v-if="index==0" 
                    class="t-results" 
                    :rowspan="kladosPe04.length"
                >
                    {{ sumPe04Diff }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="t-center">
                    Σύνολα
                </td>
                <td class="t-center">
                    {{ sumPe04Forseen }}
                </td>
                <td class="t-center">
                    {{ sumPe04Available }}
                </td>
                <td 
                    v-show="schoolType === 'lyk'" 
                    class="t-center"
                >
                    {{ sumPe04Projects }}
                </td>
                <td class="t-center">
                    {{ (diffPe04) }}
                </td>
            </tr>
        </tfoot>
    </table>
</template>

<script>
import Hours from '../../../Classes/Hours';
    export default {
        props : {
            schoolType : {
                type: String,
                required: true
            },
            eidikotites : {
                type: Array,
                required: true
            }
        },

        computed : {
            kladosPe04 (){
                return this.eidikotites.filter(e => e['klados_slug'] === 'ΠΕ04');
            },
            sumPe04Forseen (){
                var total = 0;
                for(var i = 0, _len = this.kladosPe04.length; i < _len; i++){
                    let council_forseen = new Hours(this.kladosPe04[i]['pivot']['council_forseen']);

                    total += council_forseen.convertToInt();
                }
                return total;
            },
            sumPe04Available(){
                var total = 0;
                for(var i = 0, _len = this.kladosPe04.length; i < _len; i++){
                    let available = new Hours(this.kladosPe04[i]['pivot']['available']);

                    total += available.convertToInt();
                }
                return total;   
            },
            sumPe04Projects(){
                var total = 0;
                for(var i = 0, _len = this.kladosPe04.length; i < _len; i++){
                    let project_hours = new Hours(this.kladosPe04[i]['pivot']['project_hours']);

                    total += project_hours.convertToInt();
                }
                return total;   
            },

            diffPe04(){
                return (this.sumPe04Available + this.sumPe04Projects) - this.sumPe04Forseen;
            },
            
            sumPe04Diff(){
                var diff = this.diffPe04;

                if(diff >= 12){
                    this.$emit('sum-pe04-diff', diff);
                    return diff;
                }
                else if(diff <= -12){
                    this.$emit('sum-pe04-diff', diff);
                    return diff;
                }else{
                    this.$emit('sum-pe04-diff', 0);
                    return 0;
                } 
            }
        }
    }
</script>