<template>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th class="table_th span_header" colspan="4">
                        <h5>
                            ΕΡΓΑΣΤΗΡΙΑ ΔΕΞΙΟΤΗΤΩΝ
                        </h5>
                    </th>
                </tr>
                <tr>
                    <th class="table_th locked_cell">Ειδικότητα</th>
                    <th class="table_th locked_cell">Ώρες</th>
                    <th 
                        v-if="!globalDisable" 
                        class="table_th locked_cell"
                    />
                </tr>
            </thead>
            <tbody>
                <tr v-for="(l_record, index) in extraDiv">
                    <td class="locked">{{ l_record['slug'] }} [{{ l_record['name'] }}]</td>
                    <td class="locked">{{ l_record['hours'] }}</td>
                    <td v-if="!globalDisable">
                        <i 
                            v-if="!disableInputs"
                            class="fa fa-trash delete-button" 
                            @click="deleteTableRow(index)"
                        />
                    </td>
                </tr>
                <tr v-if="listProjects.length > 0 && !globalDisable">
                    <td>
                        <select v-model="option_value">
                            <option 
                                v-for="rec_div in listProjects" 
                                :key="rec_div.id"
                                :value="rec_div.id"
                                :disabled="disableInputs"
                            >
                                {{ rec_div.slug }} [{{ rec_div.name }}]
                            </option>
                        </select>
                    </td>
                    <td>
                        <input 
                            v-model="new_hours" 
                            class="unlocked" 
                            size="7" 
                            maxlength="3" 
                            type="text" 
                            :disabled="disableInputs"
                        >
                    </td>
                    <td>
                        <i 
                            v-if="!disableInputs"
                            class="fa fa-plus-circle add-button" 
                            @click="addTableRow"
                        />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            extraDiv : {
                type : Array,
                required : true
            },
            listProjects : {
                type : Array,
                required : true
            },
            disableInputs : {
                type : Boolean,
                default : false
            },
            globalDisable : {
                type : Boolean,
                default : false
            }
        },

      data (){
          return {
              option_value : null,
              new_hours : null
          }
      },

      methods : {
            deleteTableRow(index){
                this.listProjects.push({
                    id : this.extraDiv[index].eid_id,
                    name : this.extraDiv[index].name,
                    slug : this.extraDiv[index].slug
                });
                this.listProjects.sort(this.sortItems);
                this.option_value = null;
                this.$emit('change-made');
                this.displayAlert('Σημείωση', `το Εργαστήριο Δεξιοτήτων των <strong>${this.extraDiv[index].hours}</strong> ωρών αφαιρέθηκε από την ειδικότητα <strong>${this.extraDiv[index].slug}</strong><br><strong class="message-strong">ΠΡΟΣΟΧΗ!  ΔΕΝ αποθηκεύτηκε η αλλαγή.</strong><br>Όταν ολοκληρώσετε τις αλλαγές, <br>πατήστε το κίτρινο κουμπί για Προσωρινή αποθήκευση ή την Αποστολή`, 'warning', 8000);
                this.$delete(this.extraDiv, index);
            },
            addTableRow(){
                let new_division = this.listProjects.find(div => div.id === this.option_value);
                let index = this.listProjects.findIndex(v => v.id === this.option_value);

                if(typeof new_division !== 'undefined'){
                    if(this.notNullNewValues(new_division.id)){
                        if(this.notIntegerNewValues(new_division.id)){
                            this.addNewValuesToTable(new_division);
                            this.displayAlert('Συγχαρητήρια!', `το <strong>Εργαστήριο Δεξιοτήτων</strong> των <strong>${this.new_hours}</strong> ωρών <br> προστέθηκε με επιτυχία στην ειδικότητα <strong>${new_division.slug}</strong>. <br> <strong class="message-strong">ΠΡΟΣΟΧΗ!  ΔΕΝ αποθηκεύτηκε η αλλαγή.</strong><br>Όταν ολοκληρώσετε τις αλλαγές, <br>πατήστε το κίτρινο κουμπί για Προσωρινή αποθήκευση ή την Αποστολή`, 'success', 10000);
                            this.$delete(this.listProjects, index);
                        }else{
                            this.displayAlert('Προσοχή!', 'Τα στοιχεία που βάλατε δεν είναι έγκυρα', 'error');
                        }
                    }else{
                        this.displayAlert('Προσοχή!', 'Δεν έχετε συμπληρώσει όλα τα στοιχεία', 'error');
                    }
                }else{
                    this.displayAlert('Προσοχή!', 'Δεν έχετε συμπληρώσει όλα τα στοιχεία', 'error');
                }
                this.initNewValues();
            },

            addNewValuesToTable(new_division){
                this.extraDiv.push({
                    'eid_id' : new_division.id,
                    'name' : new_division.name,
                    'slug' : new_division.slug,
                    'hours' : this.new_hours
                });
                this.$emit('change-made');
            },

            notNullNewValues(id){
                return  id != null && this.new_hours != null;
            },

            notIntegerNewValues(id){
                return Number.isInteger(id) && Number.isInteger(parseInt(this.new_hours));
            },

            initNewValues(){
                this.option_value = null;
                this.new_hours = null;
            },

            sortItems(a,b){
                if (a.id < b.id){
                    return -1;
                }
                if (a.id > b.id){
                    return 1;
                }
            },

            displayAlert(title, message, type, duration = 1000){
                this.$emit('display-alert', {
                    title,
                    message,
                    type,
                    duration
                });
            }
      }
    }
</script>

<style>
        .message-strong{
            color: red;
            font-size: 14pt;
        }

        .locked{
            text-align: center;
        }
        .unlocked{
            text-align: center;
            font-size: 12pt;
        }
        .table_th{
            text-align: center;
        }
        .locked_cell{
            background-color: #99A3A4;
        }
        .span_header{
            background-color: #505050;
            color: #f5f5f5;
        }
        .span_header_A{
            background-color: #f08a24;
            color: #000000;
        }
        .span_header_B{
            background-color: #68829e;
            color: #000000;
        }
        .span_header_C{
            background-color: #486b00;
            color: #000000;
        }
        .delete-button{
            color: red;
            font-size: 11pt;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 10px;
        }
        .add-button{
            color: #008000;
            font-size: 11pt;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer
        }
        .general-table{
           margin: auto;
           /*width: 50% !important;*/
        }
</style>
