<template>
    <table 
        border="1" 
        class="general-table"
    >
        <thead>
            <tr>
                <th 
                    class="table_th span_header" 
                    colspan="4"
                >
                    <h5>ΤΜΗΜΑΤΑ ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ</h5>
                </th>
            </tr>
            <tr>
                <th class="table_th locked_cell" />
                <th class="table_th locked_cell span_header_A">
                    ΤΑΞΗ Α'
                </th>
                <th class="table_th locked_cell span_header_B">
                    ΤΑΞΗ Β'
                </th>
                <th class="table_th locked_cell span_header_C">
                    ΤΑΞΗ Γ'
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Αρ. Μαθητών</td>
                <td 
                    v-for="g_class in generalDivisionData"
                    v-cloak 
                    :key="g_class.div_id"
                    :class="{
                        'unlocked' : true,
                        'span_header_A' : g_class['class'] === 'Α',
                        'span_header_B' : g_class['class'] === 'Β',
                        'span_header_C' : g_class['class'] === 'Γ',
                    }" 
                >
                    <span v-if="!g_class['locked']">
                        <input 
                            v-cloak 
                            v-model="g_class['students']" 
                            size="7" 
                            maxlength="3" 
                            type="text" 
                            :name="'students'+g_class['class']"
                            :class="{
                                'unlocked' : true,
                                'span_header_A' : g_class['class'] === 'Α',
                                'span_header_B' : g_class['class'] === 'Β',
                                'span_header_C' : g_class['class'] === 'Γ',
                            }" 
                            :disabled="disableInputs"
                            @keyup="calculateClass(g_class)"
                        >
                    </span>
                    <span v-if="g_class['locked']">
                        {{ g_class['students'] }}
                    </span>
                </td>
            </tr>
            
            <tr>
                <td>Αρ. Τμημάτων</td>
                    <td 
                        v-for="g_class in generalDivisionData"
                        v-cloak 
                        :key="g_class.div_id"
                        :class="{
                            'unlocked' : true,
                            'span_header_A' : g_class['class'] === 'Α',
                            'span_header_B' : g_class['class'] === 'Β',
                            'span_header_C' : g_class['class'] === 'Γ',
                        }" 
                    >
                        <span v-if="!g_class['locked']">
                            <input 
                                v-cloak 
                                v-model="g_class['numberSchoolProvide']" 
                                size="7" 
                                maxlength="3" 
                                type="text"
                                :name="'div'+g_class['class']"
                                :disabled="g_class.students === null || disableInputs" 
                                :class="{
                                    'unlocked' : true,
                                    'span_header_A' : g_class['class'] === 'Α',
                                    'span_header_B' : g_class['class'] === 'Β',
                                    'span_header_C' : g_class['class'] === 'Γ',
                                }" 
                                @keyup="checkIfValidNumber(g_class)"
                            >
                        </span>
                        <span v-if="g_class['locked']">
                            {{ g_class['numberSchoolProvide'] }}        
                        </span> 
                    </td>
            </tr>
           
            <!-- <tr>
                <td>Αρ. Τμημάτων</td>
                    <td 
                        v-for="g_class in generalDivisionData"
                        v-cloak 
                        :key="g_class.div_id"
                        :class="{
                            'span_header_A' : g_class['class'] === 'Α',
                            'span_header_B' : g_class['class'] === 'Β',
                            'span_header_C' : g_class['class'] === 'Γ',
                        }" 
                        style="text-align: center" 
                    >
                        {{ g_class['number'] }}
                    </td>
            </tr> -->
        </tbody>
    </table>
</template>

<script>

    import Div from '../../Classes/Division';
    import Alert from '../../Classes/Alert';

    export default {
        props : {
            generalDivisionData : {
                type: Array,
                required : true,
                twoWay: true
            },
            max : {
                type: Number,
                required: true
            },
            disableInputs : {
                type : Boolean,
                default : false
            },
            globalDisable : {
                type : Boolean,
                default : false
            },
        },

        data (){
            return {
                maxStudents : this.max,
                alert : new Alert()
            }
        },

        methods : {
            calculateClass(generalClass){
                if(!this.globalDisable){
                    let divClass = new Div(generalClass.name, generalClass.class, generalClass.students);

                    if(divClass.checkIfStudentsArePositive() !== null){
                        this.calculateDivisions(generalClass, divClass);
                        this.$emit('change-made');
                    }else{
                        this.setNullToDivClass(generalClass);
                    }
                }
            },

            checkIfValidNumber(generalClass){
                
                if(!this.globalDisable){
                    let divClass = new Div(generalClass.name, generalClass.class, generalClass.students);

                    divClass.setMyNumber(generalClass.numberSchoolProvide);
                    
                    if(divClass.checkIfIsPositive() !== null){
                        generalClass.numberSchoolProvide = divClass.getNumber();    
                        this.$emit('change-made');        
                    }else{
                        this.setNullToNumber(generalClass);
                    }
                }
            },

            setNullToDivClass(generalClass){
                generalClass.students = null;
                generalClass.number = null;

                this.setNullToNumber(generalClass);
            },

            setNullToNumber(generalClass){
                this.displayAlert('Ο αριθμός <strong>ΔΕΝ</strong> είναι ακέραιος');

                generalClass.numberSchoolProvide = null;
            },

            calculateDivisions(general_division, divClass){

                if(general_division.div_id === 21){
                    divClass.setNumberGlykeiou();
                }else{
                    divClass.setNumber();
                }

                general_division.students = divClass.getStudents();
                general_division.number = divClass.getNumber();
                general_division.numberSchoolProvide = divClass.getNumber();
            },

            displayAlert(message){
                this.$emit('zero-values');

                this.$emit('display-alert', this.alert.error(message));
            }
        }
    }
</script>