<template>
    <table 
        class="students-table"
        border="1" 
    >
        <thead>
            <tr>
                <th 
                    class="table_th span_header" 
                    colspan="3"
                >
                    <h5>Αριθμός Μαθητών</h5>
                </th>
            </tr>
            <tr>
                <th 
                    v-for="className in ['Α', 'Β', 'Γ']"
                    :key="className"
                    class="table_th locked_cell"
                >
                    {{ className }} Τάξη
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td 
                    v-for="(className, index) in ['Α', 'Β', 'Γ']"
                    :key="index"
                >
                    <span v-if="!generalDivs[index]['locked']">
                        <input 
                            v-model="students[className]"
                            class="unlocked input-students" 
                            size="7" 
                            type="text" 
                            :disabled="disableInputs"
                            maxlength="3"
                            @keyup="calculateClass(className, generalDivs[index]['status'])" 
                        >
                    </span>

                    <span v-if="generalDivs[index]['locked']">
                        <i class="fa fa-lock locked-span" />
                        {{ students[className] }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props : {
            students : {
                type: Object,
                required : true,
            },

            disableInputs : {
                type : Boolean,
                default : false
            },

            globalDisable : {
                type : Boolean,
                default : false
            },
            
            generalDivs : {
                type : Array,
                required : true
            }
        },

        data (){
            return {
                maxStudents : this.max
            }
        },

        methods : {

            calculateClass(generalClass, status){
                console.log(`Status : ${status}`)
                if(!this.globalDisable){
                    this.students[generalClass] = this.checkIfIsPositive(this.students[generalClass]);
                    if(this.students[generalClass] !== null){
                        this.$emit('calculate-divisions', {
                            className : generalClass,
                            students  : this.students[generalClass],
                            // status : 
                        });
                    }
                }
            },
        
            checkIfIsPositive(number){
                if(this.checkIfIsInteger(number)){
                    if(number > 0){
                        this.$emit('change-made');
                        return parseInt(number);
                    }
                }
                this.$emit('zero-values');

                this.displayAlert('Ο αριθμός <strong>ΔΕΝ</strong> είναι ακέραιος');

                return null;
            },

            checkIfIsInteger(number){
                return ! isNaN(number);
            },

            displayAlert(message){
                this.$emit('display-alert', {
                    title : 'Προσοχη!',
                    message,
                    type : 'error',
                    duration : 1000
                });
            }
        }
    }
</script>

<style>
    .students-table  th{
        padding: 5px;
    }

    .students-table  td{
        padding: 10px;
    }

    .input-students{
        background-color: #ffb84d;
        font-weight: bold;
    }

    .locked-span{
        color: red;
    }
</style>