<template>
    <table 
        class="div-gymnasium-table"
        border="1"
    >
        <thead>
            <tr>
                <th />
                <th 
                    class="table_th span_header" 
                    colspan="3"
                >
                    ΤΑΞΕΙΣ
                </th>
            </tr>
            <tr>
                <th width="40%" class="table_th">Τμήματα</th>
                <th width="20%" class="table_th">Α</th>
                <th width="20%" class="table_th">Β</th>
                <th width="20%" class="table_th">Γ</th>
            </tr>
        </thead>
        <tbody>
            <tr 
                v-for="(div, index) in divisions"
                v-cloak 
                :key="index"
            >
                <td style="font-size: 12pt">
                        {{ index }}
                </td>
                <td 
                    v-for="i in 3"
                    :key="i"
                    :class="{
                        'locked_cell' : div[i-1]['locked'],
                        'stripes' : index === 'ΟΙΚΟΝΟΜΙΑΣ' && (i === 2 || i === 3)
                    }" 
                    align="center" 
                >
                    <span 
                        v-cloak 
                        v-if="div[i-1]['status'] === 'unlocked'"
                    >
                        <input 
                            v-model="div[i-1]['numberSchoolProvide']"
                            size="7" 
                            maxlength="2"
                            :class="{
                                'input-divs' : true,
                                'locked' : div[i-1]['status'] === 'locked',
                                'unlocked' : div[i-1]['status'] === 'unlocked'
                            }" 
                            type="text"
                            @keyup="setSecondLanguage(div[i-1])" 
                        >
                    </span>
                    <span 
                        v-cloak 
                        v-else
                    >
                        {{ div[i-1]['numberSchoolProvide'] }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>

    import Div from '../../Classes/Division';
    import Alert from '../../Classes/Alert';

    export default {
        props : {
            divisions : {
                type: Object,
                required : true,
                twoWay : true
            },

            students : {
                type: Object,
                required : true,
            },

            disableInputs : {
                type : Boolean,
                default : false
            },

            globalDisable : {
                type : Boolean,
                default : false
            }
        },

        data (){
            return {
                key : 'ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ',
                alert : new Alert()
            }
        },

        methods : {

            calculateDiv(className, students){
                if(this.divisions.hasOwnProperty(this.key)){
                    let newDiv = new Div(this.key, className, students);
                    
                    newDiv.setNumber();

                    this.updateDivision(this.key, className, students, newDiv.getNumber(), false, true); // υπολογίζει από την αλλαγή μαθητών ΜΟΝΟ το ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ
                                                                                            // η 5η παράμετρος πρέπει να είναι false
                                                                                            // η 6η παράμετρος κλειδώνει το κελί της ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ
                    newDiv.setComputerNumber();

                    this.calculateNotGeneralDivs(className, newDiv, true);
                }
            },

            updateDivision(divisionName, className, students, value, autocalculate, locked = false){

                if(divisionName === 'ΟΙΚΟΝΟΜΙΑΣ' && (className === 'Β' || className === 'Γ') ){
                    // do nothing
                }else{
                    this.divisions[divisionName].find(e=> e.class === className).numberSchoolProvide = value;
                    this.divisions[divisionName].find(e=> e.class === className).students = students;
                    this.divisions[divisionName].find(e=> e.class === className).status = locked ? 'locked' : 'unlocked';

                    if(autocalculate){
                        this.divisions[divisionName].find(e=> e.class === className).number = value;
                    }
                }
            },

            calculateNotGeneralDivs(className, newDiv, autocalculate){  

                let locked = true;
                this.updateDivision('ΑΓΓΛΙΚΑ', className, newDiv.getStudents(), newDiv.getNumber(), autocalculate, locked);
                this.updateDivision('ΓΑΛΛΙΚΑ', className, newDiv.getStudents(), newDiv.getFrench(), autocalculate);
                this.updateDivision('ΓΕΡΜΑΝΙΚΑ', className, newDiv.getStudents(), newDiv.getGerman(), autocalculate);
                this.updateDivision('ΠΛΗΡΟΦΟΡΙΚΗΣ', className, newDiv.getStudents(), newDiv.getComputerNumber(), autocalculate, locked);
                this.updateDivision('ΤΕΧΝΟΛΟΓΙΑΣ', className, newDiv.getStudents(), newDiv.getComputerNumber(), autocalculate, locked);
                this.updateDivision('ΟΙΚΟΝΟΜΙΑΣ', className, newDiv.getStudents(), newDiv.getComputerNumber(), autocalculate, locked);
            },

            getDivisionValue(divisionName, className){
                return this.divisions[divisionName].find(e=> e.class === className).numberSchoolProvide;
            },

            setSecondLanguage (div){

                let students = this.students[div.class];

                let generalDiv = new Div(this.key, div.class, students);

                if(div.name !== this.key){
                    this.onChangeNotGeneralDiv(div, generalDiv, students);

                }else{
                    this.onChangeGeneralDiv(div, generalDiv, students);
                }
            },

            onChangeNotGeneralDiv(div, generalDiv, students){     
                let otherDiv = new Div(div.name, div.class, students);

                let generalNumber = this.getDivisionValue('ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ', div.class);

                generalDiv.setMyNumber(generalNumber);

                otherDiv.setMyNumber(div.numberSchoolProvide);
        
                if(otherDiv.checkIfIsPositive() !== null){
                    if(generalNumber < otherDiv.getNumber()){
                        this.updateDivision(div.name, div.class, students, null, false);

                        this.displayAlert(`ο αριθμός μπορεί να είναι μέχρι <strong>${generalDiv.getNumber()}</strong>`);
                    }else{
                        if(div.name === 'ΓΕΡΜΑΝΙΚΑ'){
                            this.updateDivision('ΓΑΛΛΙΚΑ', div.class, students,  (generalDiv.getNumber() - otherDiv.getNumber()), false);
                            this.updateDivision('ΓΕΡΜΑΝΙΚΑ', div.class, students, otherDiv.getNumber(), false);
                        }else if(div.name === 'ΓΑΛΛΙΚΑ'){
                            this.updateDivision('ΓΕΡΜΑΝΙΚΑ', div.class, students, (generalDiv.getNumber() - otherDiv.getNumber()), false);
                        }
                        this.$emit('change-made');
                    }
                }else{     
                    this.displayAlert('Ο αριθμός <strong>ΔΕΝ</strong> είναι ακέραιος');
                    this.updateDivision(div.name, div.class, students, null, false);
                }
            },

            onChangeGeneralDiv(div, generalDiv, students){
                generalDiv.setMyNumber(div.numberSchoolProvide);

                if(generalDiv.checkIfIsPositive() !== null){

                    this.updateDivision(div.name, div.class, students, generalDiv.getNumber(), false);

                    generalDiv.setFrench(generalDiv.getNumber());
                    generalDiv.setGerman(generalDiv.getNumber());

                    generalDiv.setComputerNumber();
                    
                    this.calculateNotGeneralDivs(div.class, generalDiv, false);
                    this.$emit('change-made');
                }else{
                    this.updateDivision(div.name, div.class, students, null, false);

                    this.displayAlert('Ο αριθμός <strong>ΔΕΝ</strong> είναι ακέραιος');
                }
            },

            displayAlert(message){
                this.$emit('zero-values');

                this.$emit('display-alert', this.alert.error(message));
            }
        }
    }
</script>

<style>

    .div-gymnasium-table  th{
        padding: 5px;
    }

    .div-gymnasium-table  td{
        padding: 10px;
    }

    .input-divs{
        background-color: #ffb84d;
        font-weight: bold;
    }

    .stripes {
        background-image: linear-gradient(135deg, #000 25%, transparent 25%, transparent 50%, #000 50%, #000 75%, transparent 75%, #fff);
        background-size: 5px 5px;
    }

</style>