<template>
    <div>
        <table border="1">
            <thead>
                <tr v-if="title != ''">
                    <th 
                        :class="{
                            'table_th' : true,
                            'span_header_A' : classNameProp === 'Α',
                            'span_header_B' : classNameProp === 'Β',
                            'span_header_C' : classNameProp === 'Γ',
                        }"
                        colspan="4"
                    >
                        <h5>
                            {{ title }}
                        </h5>
                    </th>
                </tr>
                <tr>
                    <th class="table_th locked_cell">
                        Τμήμα
                    </th>
                    <th class="table_th locked_cell">
                        Αρ. Μαθητών
                    </th>
                    <th class="table_th locked_cell">
                        Αρ. Τμημάτων
                    </th>
                    <th
                        v-if="!globalDisable" 
                        class="table_th locked_cell" 
                    />
                </tr>
            </thead>
            <tbody>
                <tr 
                    v-for="(l_record, index) in extraDiv"
                    :key="index"
                >
                    <td class="locked">
                        <span 
                            v-if="l_record['oligomeles']" 
                            class="oligomeles-label"
                        >
                            <i class="fa fa-cubes" />
                            {{ l_record['name'] }}
                        </span>
                        <span 
                            v-else
                            class="not-oligomeles"
                        >
                            <span v-if="l_record['div_id'] == 27">
                                <span 
                                    v-if="l_record['pedio2']" 
                                    class="pedia-label"
                                >|2ο πεδίο|</span>
                                <span 
                                    v-if="l_record['pedio3']" 
                                    class="pedia-label"
                                > |3ο πεδίο|</span>
                            </span>
                            {{ l_record['name'] }}
                        </span>
                    </td>
                    <td class="locked">
                        <span 
                            v-if="l_record['oligomeles']" 
                            class="oligomeles-label"
                        >
                            {{ l_record['students'] }}
                        </span>
                        <span 
                            v-else
                            class="not-oligomeles"
                        >
                            {{ l_record['students'] }}
                        </span>
                    </td>
                    <td class="locked">
                        <span 
                            v-if="l_record['oligomeles']" 
                            class="oligomeles-label"
                        >
                            {{ l_record['numberSchoolProvide'] }}
                        </span>
                        <span 
                            v-else
                            class="not-oligomeles"
                        >
                            {{ l_record['numberSchoolProvide'] }}
                        </span>
                    </td>
                    <td v-if="!globalDisable">
                        <i 
                            v-if="!disableInputs && !l_record['locked']"
                            class="fa fa-trash delete-button disabled" 
                            @click="deleteTableRow(classNameProp, index)"
                        />    
                    </td>
                </tr>
                <tr v-if="list_divisions.length > 0 & !globalDisable">
                    <td>
                        <div>
                            <select 
                                v-model="option_value"
                                class="form-control"
                                :disabled="disableInputs"
                                @change="resetOligomeles"
                            >
                                <option 
                                    :value="null" 
                                    disabled 
                                >
                                    Επέλεξε νέο τμήμα
                                </option>
                                <option 
                                    v-for="rec_div in list_divisions" 
                                    :key="rec_div.id"
                                    :value="rec_div.id"
                                >
                                    {{ rec_div.name }}
                                </option>
                            </select>
                        </div>

                        <div 
                            v-if="hasOligomeli"
                            class="checkbox"
                        >
                            <label 
                                v-if="option_value !== 26 && option_value !== 27" 
                                class="checkbox-oligomeles"
                            >
                                <input 
                                    v-model="oligomeles"
                                    type="checkbox"
                                >Συνδιδασκαλία;; 
                                <span class="oligomeles-label">
                                    <i class="fa fa-cubes" />
                                </span>
                            </label>
                            <div v-if="option_value == 27">
                                <label style="background-color: #a366ff;" class="checkbox-oligomeles">
                                    <input @change="checkOther(2)" type="checkbox" v-model="pedio2">2o Επ. Πεδίο <i class="fa fa-question-circle" />
                                </label>
                                <label  style="background-color: #ff4dff;" class="checkbox-oligomeles">
                                    <input @change="checkOther(3)" type="checkbox" v-model="pedio3">3o Επ. Πεδίο <i class="fa fa-question-circle" />
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input 
                            v-model="new_students" 
                            class="form-control unlocked" 
                            size="7" 
                            maxlength="3" 
                            type="text" 
                            placeholder="π.χ. 24"
                            :disabled="disableInputs"
                        >
                    </td>
                    <td>
                        <input 
                            v-model="new_divisions_number"
                            class="form-control unlocked" 
                            size="7" 
                            maxlength="3" 
                            placeholder="π.χ. 1"
                            type="text" 
                            :disabled="disableInputs"
                        >
                    </td>
                    <td>
                        <i 
                            v-if="!disableInputs"
                            class="fa fa-plus-circle add-button" 
                            @click="addTableRow" 
                        />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            title : {
                type : String,
                required : false,
                default : ''
            },
            disableInputs : {
                type : Boolean,
                default : false
            },
            classNameProp : {
                type : String,
                default : ''
            },
            extraDiv : {
                type : Array,
                required : true
            },
            allDivisions : {
                type : Array,
                required : true
            },
            typeName : {
                type : String,
                required : true
            },
            hasOligomeli : {
                type : Boolean,
                default : false,
                required : false
            },
            globalDisable : {
                type : Boolean,
                default : false
            }
        },

      data (){
          return {
              option_value : null,
              new_students : null,
              oligomeles : false,
              pedio2: true,
              pedio3: false,
              new_divisions_number : null
          }
      },

      computed : {
            list_divisions () {
                return this.allDivisions.filter(division => division.class === this.classNameProp && division.type === this.typeName);
            }
      },

      methods : {
            checkOther(pedioNumber){
                if(pedioNumber == 2) if(!this.pedio2 && !this.pedio3) this.pedio3 = true
                if(pedioNumber == 3) if(!this.pedio2 && !this.pedio3) this.pedio2 = true
            },
            deleteTableRow(class_name,index){
                this.list_divisions.push({
                    id : this.extraDiv[index].div_id,
                    name : this.extraDiv[index].name
                });

                this.$emit('change-made');
                this.displayAlert('', `το τμήμα <strong>${this.extraDiv[index].name}</strong> της <strong>${this.extraDiv[index].class}</strong> τάξης αφαιρέθηκε. <br> <strong>ΠΡΟΣΟΧΗ!</strong> ΔΕΝ αποθηκεύτηκε η αλλαγή.`, 'warning', 3000);
                this.$delete(this.extraDiv, index);
            },
            addTableRow(){
                let new_division = this.list_divisions.find(div => div.id === this.option_value);
                let index = this.list_divisions.findIndex(v => v.id === this.option_value);

                if(typeof new_division !== 'undefined'){
                    if(this.notNullNewValues(new_division.id)){
                        if(this.notIntegerNewValues(new_division.id)){
                            if(this.positiveNewValues(new_division.id)){
                                this.addNewValuesToTable(new_division);
                                this.displayAlert('Συγχαρητήρια!', `το τμήμα <strong>${new_division.name}</strong> της <strong>${this.classNameProp}</strong> τάξης προστέθηκε με επιτυχία.<br> <strong>ΠΡΟΣΟΧΗ!</strong> ΔΕΝ αποθηκεύτηκε η αλλαγή.<br>Όταν ολοκληρώσετε τις αλλαγές, <br>πατήστε το κίτρινο κουμπί για Προσωρινή αποθήκευση ή την Αποστολή`, 'success', 8000);
                                this.$delete(this.list_divisions, index);
                            }else{
                                this.displayAlert('Προσοχη!', 'Τα στοιχεία που βάλατε <strong>δεν</strong> είναι θετικοί αριθμοί', 'error');
                            }
                        }else{
                            this.displayAlert('Προσοχη!', 'Τα στοιχεία που βάλατε <strong>δεν</strong> είναι έγκυρα', 'error');
                        }
                    }else{
                        this.displayAlert('Προσοχη!', 'Δεν έχετε συμπληρώσει όλα τα στοιχεία', 'error');
                    }
                }else{
                    this.displayAlert('Προσοχη!', 'Δεν έχετε συμπληρώσει όλα τα στοιχεία', 'error');
                }
                this.initNewValues();
            },

            addNewValuesToTable(new_division){
                this.extraDiv.push({
                    'class' : this.classNameProp,
                    'div_id' : new_division.id,
                    'name' : new_division.name,
                    'number' : this.new_divisions_number,
                    'numberSchoolProvide' : this.new_divisions_number,
                    'students' : this.new_students,
                    'oligomeles' : this.oligomeles,
                    'pedio2' : new_division.id == 27 ? this.pedio2: false,
                    'pedio3' : new_division.id == 27 ? this.pedio3: false
                });
                this.$emit('change-made');
            },

            notNullNewValues(id){
                return  id !== null && this.new_divisions_number !== null && this.new_students !== null;
            },

            notIntegerNewValues(id){
                return Number.isInteger(id) && Number.isInteger(parseInt(this.new_divisions_number)) && Number.isInteger(parseInt(this.new_students));
            },
            positiveNewValues(id){
                return id > 0 && this.new_divisions_number > 0 && this.new_students > 0;
            },

            initNewValues(){
                this.option_value = null;
                this.new_divisions_number = null;
                this.new_students = null;
                this.oligomeles = false;
            },

            resetOligomeles(){
                this.oligomeles = false;
            },

            displayAlert(title, message, type, duration = 1000){
                this.$emit('display-alert', {
                    title,
                    message,
                    type,
                    duration
                });
            }
      }
    }
</script>

<style>
        .locked{
            /*background-color: #008000;*/
            text-align: center;
        }
        .unlocked{
            /*background-color: #0000cc;*/
            text-align: center;
            font-size: 12pt;
        }
        .table_th{
            text-align: center;
        }
        .locked_cell{
            background-color: #99A3A4;
        }
        .span_header{
            background-color: #505050;
            color: #f5f5f5;
        }
        .span_header_A{
            background-color: #f08a24;
            color: #000000;
        }
        .span_header_B{
            background-color: #68829e;
            color: #000000;
        }
        .span_header_C{
            background-color: #486b00;
            color: #000000;
        }
        .delete-button{
            color: red;
            font-size: 11pt;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 10px;
        }
        .add-button{
            color: #008000;
            font-size: 11pt;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer
        }
        .general-table{
           margin: auto;
           /*width: 50% !important;*/
        }

        .not-oligomeles{
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            font-weight: bold;
            padding: 25px;
        }
        .oligomeles-label{
            color : #800000;
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            font-weight: 500;
            padding: 25px;
        }
        .pedia-label{
            color : #db6f31;
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            font-weight: 500;
        }
        .checkbox-oligomeles{
            margin-left: 10px;
            border-radius: 10px;
        }
</style>
