<template>
    <div>
        <p class="vacuum-title">
            Οργανικά Κενά για Βελτιώσεις - Οριστικές τοποθετήσεις Γυμνασίων
        </p>
        <div 
            v-cloak 
            v-if="loading" 
            class="panel-body text-center"
        >
            <img 
                class="loading" 
                src="/images/Ripple.gif" 
            >
            <h5>παρακαλώ περιμένετε...</h5>
        </div>

        <div 
            v-else 
            v-cloak 
            class="row"
        >
            <div class="col-lg-5 col-md-6">
                <div 
                    v-cloak 
                    v-if="studentsLength > 0"
                >
                    <divisions
                        ref="division"
                        :divisions="divisions"
                        :students="students"
                        @change-made="changeMade"
                        @display-alert="displayMessage"
                        @zero-values="zeroValues"
                    />
                </div>
            </div>

            <div class="col-lg-4 col-md-5">
                <div 
                    v-if="globalDisable" 
                    class="text-center"
                >
                    <div 
                        class="alert alert-danger" 
                        role="alert"
                    >
                        <strong>Προσοχή!</strong> Οι Πίνακες είναι <strong>κλειδωμένοι</strong> και έχουν σταλεί με E-mail στη Γραμματεία του ΠΥΣΔΕ.
                    </div>
                </div>

                <students
                    :students="students" 
                    :general-divs="divisions['ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ']"
                    :global-disable="globalDisable"
                    @calculate-divisions="calculateDivisions"
                    @change-made="changeMade"
                    @display-alert="displayMessage"
                    @zero-values="zeroValues" 
                />

                <br>

                <projects-table
                    :extra-div="divisions_projects"
                    :list-projects="list_projects"
                    :global-disable="globalDisable"
                    :disable-inputs="disableEditing"
                    @change-made="changeMade"
                    @display-alert="displayMessage"
                />

                <div
                    v-show="madeChanges && !globalDisable && isFilled"
                >
                    <button
                        v-if="!disableEditing"
                        v-cloak
                        class="btn btn-warning btn"
                        @click="saveRequest" 
                    >
                        Προσωρινή Αποθήκευση
                    </button>
                    <button 
                        v-else
                        v-cloak
                        class="btn btn-warning btn disabled"
                    >
                        <i class="fa fa-spinner fa-spin" />
                        παρακαλώ περιμένετε...
                    </button>
                </div>

                <div
                    v-show="!globalDisable && isFilled"
                >
                    <hr>
                    <button 
                        class="btn btn-success btn-lg"
                        @click="openModal" 
                    >
                        Αποστολή
                    </button>
                </div>

                <div 
                    class="alert alert-warning alert-dismissible" 
                    role="alert"
                >
                    <button 
                        type="button" 
                        class="close" 
                        data-dismiss="alert" 
                        aria-label="Close"
                    >
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                    <p>
                        <strong>Σημειώσεις για Εργαστήρια Δεξιοτήτων </strong>
                        <ul>
                            <li>Για <strong>εισαγωγή</strong> επιλέγουμε την Ειδικότητα, γράφουμε τις ώρες διδασκαλίας και πατάμε το <i class="fa fa-plus-circle add-button" /></li>
                            <li>Για <strong>αφαίρεση</strong> της ειδικότητας επιλέγουμε το <i class="fa fa-trash delete-button" /></li>
                            <li><strong>Προσοχή!</strong> Οι αλλαγές αποθηκεύονται <strong>ΜΟΝΟ</strong> με το κουμπί Προσωρινή αποθήκευση ή Αποστολή</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-1">
                <div 
                    class="alert alert-warning alert-dismissible" 
                    role="alert"
                >
                    <button 
                        type="button" 
                        class="close" 
                        data-dismiss="alert" 
                        aria-label="Close"
                    >
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                    <iframe width="150" height="100" src="https://www.youtube.com/embed/S3i4WWJ3kEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <modal 
            v-cloak
            :show="openAgreementModal"
            type="agreement"
            @cancel-the-request="cancelOperation"
            @emit-the-request="sentRequest"
        >
            <h5 slot="title">
                Όροι και προϋποθέσεις
            </h5>
            <ol slot="body">
                    <li>
                        Βεβαιωθείτε ότι έχετε συμπληρώσει όλα τα τμήματα Γενικής Παιδείας και Ξένων Γλωσσών
                    </li>
                    <li>
                        Θα πρέπει να συμφωνείτε με όλα τα στοιχεία των πινάκων
                    </li>
                    <li>
                        Με την αποστολή:
                        <ul>
                            <li>στέλνεται E-mail, με όλα τα δεδομένα, στη γραμματεία του ΠΥΣΔΕ</li>
                            <li>στέλνεται ειδοποίηση στη ΔΔΕ (στην ΠΑΣΙΦΑΗ) ότι το Σχολείο σας ενημέρωσε τους πίνακες με τον αριθμό Τμημάτων και το σύνολο των μαθητών</li>
                        </ul>
                    </li>
                    <li>
                        Αν συμφωνείτε με τους παραπάνω όρους, πατήστε το κουμπί της Αποστολής
                    </li>
            </ol>
            <span slot="button">Αποστολή</span>
        </modal>
    </div>   
</template>

<script>
    import axios from 'axios';

    import Modal from './components/Modal.vue';
    import Students from './components/Organika/TableStudentsGymnasium.vue';
    import Divisions from './components/Organika/TableDivisionsGymnasium.vue';
    import Division from './Classes/Division.js';
    import ProjectsTable from '../assets/components/Organika/ProjectsTable.vue';
    
    export default {
        components : {
            Modal, Students, Divisions, ProjectsTable
        },

        data () {
            return {
                list_projects : [],
                divisions_projects : [],

                globalDisable : false,
                madeChanges : false,
                loading : true,

                openAgreementModal : false,

                new_students : null,
                new_divisions_number : null,
                disableEditing : false,

                divisions : {},
                list_divisions : null,
                students : [],
                maxStudents : 27,
                maxComputer : 11,

                token : window.api_token,
                base_url : window.base_url,
            }
        },

        computed : {
            studentsLength() {
                return Object.keys(this.students).length;
            },

            isFilled () {
                let filled = true;

                for(let key in this.students){
                    if(this.students.hasOwnProperty(key)){
                        if(this.students[key] === 0 || this.students[key] === null){
                            filled = false;
                        }
                    }
                }

                this.divisions['ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ'].forEach(c => {
                    if(c.numberSchoolProvide === 0 || c.numberSchoolProvide === null){
                        filled = false;
                    }
                })

                return filled;
            }
        },

        mounted(){
            this.fetchDivisions();
        },

        methods : {
            calculateDivisions(data){
                this.$refs.division.calculateDiv(data.className, data.students);
            },

            fetchDivisions(){
                this.loading = true;

                axios.get('/api/school/organika/gymnasium/fetchDivisions?api_token='+this.token)
                    .then(r => {
                        this.divisions = r.data['divisions_general'];
                        this.students = r.data['students'];
                        
                        // this.globalDisable = false;
                        this.globalDisable = r.data['locked'];
                        
                        // ΑΝ ΤΑ ΤΜΗΜΑΤΑ ΕΙΝΑΙ ΜΟΝΟ 3...

                        this.loading = false;

                        this.list_projects = r.data['list_projects'];
                        this.divisions_projects = r.data['divisions_projects'];
                        
                    })
                    .catch(r => {
                        this.displayAlert('Προσοχή!', `Λάθος 130.346 ${r.message}`, 'error', -1);
                    });
            },

            saveRequest(){
                this.disableEditing = true;

                let general_divisions = this.mergeDivisions();

                axios.post('/api/school/organika/gymnasium/saveDivisions?api_token='+this.token, {
                    general_divisions,
                    divisions_projects : this.divisions_projects
                })
                    .then(r => {
                        this.disableEditing = false;
                        this.displayAlert('Συγχαρητήρια,', r.data, 'success');
                    })
                    .catch(r => {
                        this.displayAlert('Προσοχή!', `Λάθος 140.396 : ${r.message}`, 'error', -1);
                    });
            },

            sentRequest(){
                this.$emit('display-loader');
                this.openAgreementModal = false;

                let general_divisions = this.mergeDivisions();

                axios.post('/api/school/organika/gymnasium/sentDivisions?api_token='+this.token, {
                    general_divisions,
                    divisions : this.divisions,
                    students : this.students,
                    divisions_projects : this.divisions_projects
                })
                    .then(r => {                        
                        this.$emit('not-display-loader');
                        this.lockAllCells();
                        this.displayAlert('Συγχαρητήρια!', r.data, 'success');
                        this.globalDisable = true;
                    })
                    .catch(r => {
                        this.displayAlert('Προσοχή!', `Λάθος 140.394 ${r.message}`, 'error', -1);
                    });            
            },

            lockAllCells(){
                for(let key in this.divisions){
                    if(this.divisions.hasOwnProperty(key)){
                        this.divisions[key].forEach(e => {
                            e.status = 'locked';
                        });
                    }
                }
            },

            openModal (){
                this.openAgreementModal = true;
            },

            changeMade (){
                this.madeChanges = true;
            },

            zeroValues(){
                this.madeChanges = false;
            },

            displayAlert(title, body, type, duration = 3000, speed = 300){
                this.$emit('notification-message', {
                    title, body, type, duration, speed
                });
            },

            displayMessage(data){
                this.displayAlert(data.title, data.message, data.type, data.duration);
            },

            cancelOperation (){
                this.displayAlert('Προσοχή!', 'Δεν πραγματοποιήθηκε καμία αλλαγή', 'error', 1000);
                this.openAgreementModal = false;
            },

            mergeDivisions(){
                let general_divisions = [];

                for(let key in this.divisions){
                    if(this.divisions.hasOwnProperty(key)){
                        this.divisions[key].forEach(e => {
                            general_divisions.push(e);
                        });
                    }
                }

                return general_divisions;
            }
        }   
    }
</script>

<style lang="scss">
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 0;
        // padding-top: 80px;
        margin: 0;
        h2 {
            font-weight: 300;
            a {
                color: black;
                font-size: 12px;
            }
        }

        #app {
            // text-align: center;
            color: #2c3e50;
            .content {
                margin: 0 auto;
                max-width: 420px;
            }
        }
    }

    .vacuum-title{
        /*margin-top: 2em;*/
        font-size: 16pt;
        margin-bottom: 0;
        padding-bottom: 0.3em;
        text-align: center;
        line-height: 1;
    }

    .vacuum-title:after{
        content: '';
        display: block;
        width: 70px;
        height: 3px;
        margin: 5px auto 0;
        background-color: #F6624A;
    }

    .sub-button {
        display: inline-block;
        float: right;
        background: #E54D42;
        padding: 4px;
        box-shadow: 0 5px 15px 0px rgba(46, 61, 73, 0.1);
    }

    .locked{
        /*background-color: #008000;*/
        text-align: center;
    }
    .unlocked{
        /*background-color: #0000cc;*/
        text-align: center;
        font-size: 12pt;
    }
    .computed{
        /*background-color: #183c60;*/
        text-align: center;
    }
    .table_th{
        text-align: center;
    }
    .locked_cell{
        background-color: #99A3A4;
    }
    .span_header{
        background-color: #3498DB;
        color: #f5f5f5;
    }

</style>