<template>
    <div>
        <p class="vacuum-title">
            Οργανικά Κενά για Βελτιώσεις/οριστικές τοποθετήσεις - Δήλωση Τμημάτων από Σχολικές Μονάδες
        </p>
        <div 
            v-cloak 
            v-if="loading" 
            class="panel-body text-center"
        >
            <img 
                class="loading" 
                src="/images/Ripple.gif" 
            >
            <h5>παρακαλώ περιμένετε...</h5>
        </div>

        <div 
            v-else 
            v-cloak 
            class="row"
        >
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <general-division 
                            :general-division-data="general_divisions" 
                            :max="maxStudents"
                            :disable-inputs="disableEditing"
                            :global-disable="globalDisable"
                            @display-alert="displayMessage"
                            @change-made="changeMade"
                            @zero-values="zeroValues"
                        />
                    </div>

                    <div class="col-md-3 text-center">
                        <div 
                            v-show="madeChanges && !globalDisable && isFilled"
                        >
                            <div class="row">
                                <button
                                    v-if="!disableEditing"
                                    v-cloak
                                    class="btn btn-warning btn"
                                    @click="saveRequest" 
                                >
                                    Προσωρινή Αποθήκευση
                                </button>
                                <button 
                                    v-else
                                    v-cloak
                                    class="btn btn-warning btn disabled"
                                >
                                    <i class="fa fa-spinner fa-spin" />
                                    παρακαλώ περιμένετε...
                                </button>
                            </div>
                        </div>

                        <div 
                            v-show="!globalDisable && isFilled"
                        >
                            <hr>
                            <div class="row">
                                <button
                                    class="btn btn-success btn-lg"
                                    @click="openModal" 
                                >
                                    Αποστολή
                                </button>
                            </div>
                        </div>
                    </div>

                    <div 
                        v-if="!globalDisable"
                        class="col-md-4"
                    >
                        <div 
                            class="alert alert-warning alert-dismissible" 
                            role="alert"
                        >
                            <button 
                                type="button" 
                                class="close" 
                                data-dismiss="alert" 
                                aria-label="Close"
                            >
                                <span aria-hidden="true">
                                    &times;
                                </span>
                            </button>
                            
                            <iframe width="280" height="157" src="https://www.youtube.com/embed/iVlX4zLzEU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div 
                        v-if="globalDisable" 
                        class="col-md-5 text-center"
                    >
                        <div 
                            class="alert alert-danger" 
                            role="alert"
                        >
                            <strong>Προσοχή!</strong> Οι Πίνακες είναι <strong>κλειδωμένοι</strong> και έχουν σταλεί με E-mail στη Γραμματεία του ΠΥΣΔΕ.
                        </div>
                    </div>
                </div>

                <hr>
                
                <div class="row">
                    <div class="col-md-6">
                        <table-extra-division
                            title="ΠΡΟΣΑΝΑΤΟΛΙΣΜΟΣ Β' ΛΥΚΕΙΟΥ"
                            class-name-prop="Β"
                            :extra-div="division_direction['Β']"
                            :disable-inputs="disableEditing"
                            :all-divisions="list_divisions"
                            :global-disable="globalDisable"
                            type-name="direction"
                            @display-alert="displayMessage"
                            @change-made="changeMade"
                        />
                    </div>
                    <div class="col-md-6">
                        <table-extra-division
                            title="ΠΡΟΣΑΝΑΤΟΛΙΣΜΟΣ Γ' ΛΥΚΕΙΟΥ"
                            class-name-prop="Γ"
                            :extra-div="division_direction['Γ']"
                            :disable-inputs="disableEditing"
                            :global-disable="globalDisable"
                            :all-divisions="list_divisions"
                            type-name="direction"
                            :has-oligomeli="true"
                            @display-alert="displayMessage"
                            @change-made="changeMade"
                        />
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <table-extra-division
                            title="ΞΕΝΕΣ ΓΛΩΣΣΕΣ Α' ΛΥΚΕΙΟΥ"
                            class-name-prop="Α"
                            :extra-div="foreign_languages['Α']"
                            :all-divisions="list_divisions"
                            :global-disable="globalDisable"
                            :disable-inputs="disableEditing"
                            type-name="foreign"
                            @display-alert="displayMessage"
                            @change-made="changeMade"
                        />
                    </div>
                    <div class="col-md-4">
                        <table-extra-division
                            title="ΞΕΝΕΣ ΓΛΩΣΣΕΣ Β' ΛΥΚΕΙΟΥ"
                            class-name-prop="Β"
                            :extra-div="foreign_languages['Β']"
                            :disable-inputs="disableEditing"
                            :global-disable="globalDisable"
                            :all-divisions="list_divisions"
                            type-name="foreign"
                            @display-alert="displayMessage"
                            @change-made="changeMade"
                        />
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>

                <!-- <br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <projects-table
                            :extra-div="divisions_projects"
                            :list-projects="list_projects"
                            :global-disable="globalDisable"
                            :disable-inputs="disableEditing"
                            @change-made="changeMade"
                            @display-alert="displayMessage"
                        />
                    </div>
                </div> -->
            </div>
        </div>  

        <modal 
            v-cloak
            :show="openAgreementModal"
            type="agreement"
            @cancel-the-request="cancelOperation"
            @emit-the-request="sentRequest"
        >
            <h5 slot="title">
                Όροι και προϋποθέσεις
            </h5>
            <ol slot="body">
                    <li>
                        Βεβαιωθείτε ότι έχετε συμπληρώσει όλα τα τμήματα Γενικής Παιδείας, κατεύθυνσης, Ξένων Γλωσσών και επιλογής
                    </li>
                    <li>
                        ότι έχετε μοιράσει σωστά τις ώρες από τα Εργαστήρια Δεξιοτήτων.
                    </li>
                    <li>
                        Θα πρέπει να συμφωνείτε με όλα τα στοιχεία των πινάκων
                    </li>
                    <li>
                        Με την αποστολή:
                        <ul>
                            <li>στέλνεται E-mail, με όλα τα δεδομένα, στη γραμματεία του ΠΥΣΔΕ</li>
                            <li>στέλνεται ειδοποίηση στη ΔΔΕ (στην ΠΑΣΙΦΑΗ) ότι το Σχολείο σας ενημέρωσε τους πίνακες με τον αριθμό Τμημάτων και το σύνολο των μαθητών</li>
                        </ul>
                    </li>
                    <li>
                        Αν συμφωνείτε με τους παραπάνω όρους, πατήστε το κουμπί της Αποστολής
                    </li>
            </ol>
            <span slot="button">Αποστολή</span>
        </modal>
    </div>   
</template>

<script>
    import axios from 'axios';

    import Modal from './components/Modal.vue';
    import TableExtraDivision from './components/Organika/TableExtraDivision.vue';
    import GeneralDivision from './components/Organika/TableGeneralDivision.vue';
    import ProjectsTable from './components/Organika/ProjectsTable.vue';

    export default {
        components : {
            GeneralDivision, TableExtraDivision, Modal, ProjectsTable
        },

        data () {
            return {
                canSentForm : false,
                globalDisable : false,
                madeChanges : false,
                loading : true,
                classes : ['Α', 'Β', 'Γ'],

                openAgreementModal : false,

                maxStudents : 27,

                general_divisions : null,
                foreign_languages : {
                    'Α' :[],
                    'Β' :[],
                    'Γ' :[]
                },
                division_direction : {
                    'Α' :[],
                    'Β' :[],
                    'Γ' :[]
                },
                division_choice : {
                    'Α' :[],
                    'Β' :[],
                    'Γ' :[]
                },

                list_divisions : [],
                list_projects : [],
                divisions_projects : [],
                option_value : null,
                new_students : null,
                new_divisions_number : null,
                disableEditing : false,

                token : window.api_token,
                base_url : window.base_url,
            }
        },

        computed : {
            isFilled () {
                let filled = true;

                this.general_divisions.forEach(c => {
                    if(c.students === 0 || c.students === null ||  c.numberSchoolProvide === 0 || c.numberSchoolProvide === null){
                        filled = false;
                    }
                })

                return filled;
            }
        },

        mounted(){
            this.fetchDivisions();
        },

        methods : {
            changeMade (){
                this.madeChanges = true;
            },

            zeroValues(){
                this.madeChanges = false;
            },

            fetchDivisions(){
                this.loading = true;

                axios.get('/api/school/organika/lyceum/fetchDivisions?api_token='+this.token)
                    .then(r => {                        
                        this.general_divisions = r.data['divisions_general'];

                        this.createDivisions(r.data);

                        this.list_divisions = r.data['list_divisions'];
                        this.list_projects = r.data['list_projects'];

                        this.divisions_projects = r.data['divisions_projects'];

                        this.loading = false;
                        this.globalDisable = r.data['locked'];
                        this.canSentForm = r.data['canSentForm'];
                    })
                    .catch(r => {
                        this.displayAlert('Προσοχή!', `Λάθος 130.346 ${r.message}`, 'error', -1);
                    });
            },

            createDivisions(data){

                this.classes.forEach(c => {
                    if(typeof data['divisions_foreign'][c] === 'undefined'){
                        this.foreign_languages[c] = [];
                    }else{
                        this.foreign_languages[c] = data['divisions_foreign'][c];
                    }
                    if(typeof data['divisions_choice'][c] === 'undefined'){
                        this.division_choice[c] = [];
                    }else{
                        this.division_choice[c] = data['divisions_choice'][c];
                    }
                    if(typeof data['divisions_direction'][c] === 'undefined'){
                        this.division_direction[c] = [];
                    }else{
                        this.division_direction[c] = data['divisions_direction'][c];
                    }
                });
            },

            saveRequest(){
                this.disableEditing = true;

                axios.post('/api/school/organika/lyceum/saveDivisions?api_token='+this.token, {
                    general_divisions : this.general_divisions,
                    foreign_languages : this.foreign_languages,
                    division_direction : this.division_direction,
                    division_choice : this.division_choice,
                    divisions_projects : this.divisions_projects
                })
                    .then(r => {
                        this.disableEditing = false;
                        this.displayAlert('Συγχαρητήρια,', r.data, 'success');
                    })
                    .catch(r => {
                        this.displayAlert('Προσοχή!', `Λάθος 140.396 : ${r.message}`, 'error', -1);
                    });
            },

            sentRequest(){
                this.$emit('display-loader');
                this.openAgreementModal = false;
                axios.post('/api/school/organika/lyceum/sentDivisions?api_token='+this.token, {
                    general_divisions : this.general_divisions,
                    foreign_languages : this.foreign_languages,
                    division_direction : this.division_direction,
                    division_choice : this.division_choice,
                    divisions_projects : this.divisions_projects
                })
                    .then(r => {                        
                        this.$emit('not-display-loader');
                        this.displayAlert('Συγχαρητήρια!', r.data, 'success');
                        this.globalDisable = true;
                    })
                    .catch(r => {
                        this.displayAlert('Προσοχή!', `Λάθος 140.394 ${r.message}`, 'error', -1);
                    });
            },

            openModal (){
                this.openAgreementModal = true;
            },

            displayMessage(data){
                this.displayAlert(data.title, data.message, data.type, data.duration);
            },

            displayAlert(title, body, type, duration = 3000, speed = 300){
                this.$emit('notification-message', {
                    title, body, type, duration, speed
                });
            },

            cancelOperation (){
                this.displayAlert('Προσοχή!', 'Δεν πραγματοποιήθηκε καμία αλλαγή', 'error', 1000);
                this.openAgreementModal = false;
            },
        }   
    }
</script>

<style lang="scss">
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
//   padding-top: 80px;
  margin: 0;
  h2 {
    font-weight: 300;
    a {
      color: black;
      font-size: 12px;
    }
  }

  #app {
    // text-align: center;
    color: #2c3e50;
    .content {
      margin: 0 auto;
      max-width: 420px;
    }
  }
}

.vacuum-title{
    /*margin-top: 2em;*/
    font-size: 16pt;
    margin-bottom: 0;
    padding-bottom: 0.3em;
    text-align: center;
    line-height: 1;
}

.vacuum-title:after{
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    margin: 5px auto 0;
    background-color: #F6624A;
}

.sub-button {
  display: inline-block;
  float: right;
  background: #E54D42;
  padding: 4px;
  box-shadow: 0 5px 15px 0px rgba(46, 61, 73, 0.1);
}

</style>