<template>
    <div>
        <p class="vacuum-title">
            Οργανικά Κενά για Βελτιώσεις/Oριστικές τοποθετήσεις
        </p>
        <div 
            v-cloak 
            v-if="loading" 
            class="panel-body text-center"
        >
            <img 
                class="loading" 
                src="/images/Ripple.gif" 
            >
            <h5>παρακαλώ περιμένετε...</h5>
        </div>

        <div 
            v-else 
            v-cloak 
            class="row"
        >
            <div class="col-md-12 text-center">
                <div v-cloak v-if="isFilled && updated && !globalDisable" class="row">

                    <div class="btn-group" role="group" aria-label="...">
                            <button v-if="loading_button" class="btn btn-warning btn-lg" disabled="disabled">
                                <i class="fa fa-spinner fa-spin"></i>
                                Προσωρινή Αποθήκευση...
                            </button>
                            <button v-else @click="saveRequest" class="btn btn-warning btn-lg">Προσωρινή Αποθήκευση</button>
                            <button 
                                class="btn btn-success btn-lg"
                                @click="openModal" 
                            >
                                Αποστολή
                            </button>
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <general-division 
                    :general-division-data="general_divisions" 
                    :max="maxStudents"
                    :disable-inputs="disableEditing"
                    :global-disable="globalDisable"
                    @display-alert="displayMessage"
                    @change-made="changeMade"
                    @zero-values="zeroValues"
                />

                <table v-if="isFilled" slot="body" class="table table-bordered" id="table_eidikotites">                                
                    <thead>
                        <tr v-if="!globalDisable">
                            <td colspan="5" class="footer-header">
                                ΕΙΣΑΓΩΓΗ ΝΕΑΣ ΕΙΔΙΚΟΤΗΤΑΣ
                                <span v-if="new_forseen !== null && new_eidikotita !== null">
                                    <button @click="addNewEidikotita" class="btn btn-success">Προσθήκη...</button>
                                </span>
                            </td>
                        </tr>
                        <tr v-if="!globalDisable" class="footer-body">
                            <td colspan="4">
                                <select class="combo-box-new" v-model="new_eidikotita">
                                    <option v-for="e in list_of_all_eidikotites" v-bind:value="e">
                                        {{ e.eidikotita_slug }} -- {{ e.eidikotita_name }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                Διδακτικές Ώρες
                                <input class="text-box-new" @keyup="calculateNewForSeen(new_forseen)" type="text" v-model="new_forseen" size="4" maxlength="3"/>                                            
                            </td>
                        </tr>
                        <tr>
                            <th align="center">Ειδικότητα</th>
                            <th align="center">Οργανικά Ανήκοντες</th>
                            <th align="center">Ωράριο Εκπαιδευτικών</th>
                            <th align="center">Διδακτικές Ώρες</th>
                            <th align="center">ΚΕΝΟ/ΠΛΕΟΝΑΣΜΑ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(eidikotita, index) in eidikotites">
                            <td style="width: 60%;">
                                <span v-if="eidikotita.locked && globalDisable">
                                    <i class="fa fa-lock lock-button"></i>
                                </span>
                                <span v-else>
                                    <span v-if="eidikotita.number_of_teachers === 0">
                                        <i @click="deleteEidikotita(eidikotita, index)" class="fa fa-trash delete-button"></i>
                                    </span>
                                </span>
                                {{ eidikotita.slug }} - {{ eidikotita.name }}
                            </td>

                            <td  style="width: 10%;" align="center">
                                {{ eidikotita.number_of_teachers }}
                            </td>
                            <td style="width: 10%;" align="center">
                                {{ eidikotita.available }}
                            </td>
                            <td style="width: 10%;"  align="center">
                                <input 
                                    v-if="!globalDisable"
                                    type="text" 
                                    v-model="eidikotita.forseen" 
                                    size="7" 
                                    maxlength="3" 
                                    class="unlocked"
                                    @keyup="calculateClass(eidikotita)"
                                    @blur="showMessage"
                                />
                                <span
                                    v-if="globalDisable"
                                >
                                    {{ eidikotita.forseen }}
                                </span>
                            </td>
                            <td style="width: 10%" :class="{
                                    'different-from-council-school' : calculateDifference(eidikotita) > 0,
                                    'ok-school'                     : calculateDifference(eidikotita) <= 0
                                }">
                                <span
                                    v-if="globalDisable"
                                >
                                    {{ eidikotita.difference }}
                                </span>

                                <span
                                    v-if="!globalDisable"
                                >
                                    {{ calculateDifference(eidikotita) }}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr v-if="!globalDisable">
                            <td colspan="5" class="footer-header">
                                ΕΙΣΑΓΩΓΗ ΝΕΑΣ ΕΙΔΙΚΟΤΗΤΑΣ
                                <span v-if="new_forseen !== null && new_eidikotita !== null">
                                    <button @click="addNewEidikotita" class="btn btn-success">Προσθήκη...</button>
                                </span>
                            </td>
                        </tr>
                        <tr v-if="!globalDisable" class="footer-body">
                            <td colspan="4">
                                <select class="combo-box-new" v-model="new_eidikotita">
                                    <option v-for="e in list_of_all_eidikotites" v-bind:value="e">
                                        {{ e.eidikotita_slug }} -- {{ e.eidikotita_name }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                Διδακτικές Ώρες
                                <input class="text-box-new" @keyup="calculateNewForSeen(new_forseen)" type="text" v-model="new_forseen" size="4" maxlength="3"/>                                            
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="col-md-12 text-center">
                <div v-cloak v-if="isFilled && updated && !globalDisable" class="row">

                    <div class="btn-group" role="group" aria-label="...">
                            <button v-if="loading_button" class="btn btn-warning btn-lg" disabled="disabled">
                                <i class="fa fa-spinner fa-spin"></i>
                                Προσωρινή Αποθήκευση...
                            </button>
                            <button v-else @click="saveRequest" class="btn btn-warning btn-lg">Προσωρινή Αποθήκευση</button>
                            <button 
                                class="btn btn-success btn-lg"
                                @click="openModal" 
                            >
                                Αποστολή
                            </button>
                    </div>

                </div>
            </div>
        </div>  

        <modal 
            v-cloak
            :show="openAgreementModal"
            type="agreement"
            @cancel-the-request="cancelOperation"
            @emit-the-request="sentRequest"
        >
            <h5 slot="title">
                Όροι και προϋποθέσεις
            </h5>
            <ol slot="body">
                    <li>
                        Βεβαιωθείτε ότι έχετε συμπληρώσει όλα τα κενά / πλεονάσματα για κάθε ειδικότητα στη Σχολική σας Μονάδα.
                    </li>
                    <li>
                        Θα πρέπει να συμφωνείτε με όλα τα στοιχεία των πινάκων
                    </li>
                    <li>
                        Με την αποστολή:
                        <ul>
                            <li>στέλνεται E-mail, με όλα τα δεδομένα, στη γραμματεία του ΠΥΣΔΕ</li>
                            <li>στέλνεται ειδοποίηση στη ΔΔΕ (στην ΠΑΣΙΦΑΗ) ότι το Σχολείο σας ενημέρωσε τους πίνακες με τον αριθμό Τμημάτων και το σύνολο των μαθητών</li>
                        </ul>
                    </li>
                    <li>
                        Αν συμφωνείτε με τους παραπάνω όρους, πατήστε το κουμπί της Αποστολής
                    </li>
            </ol>
            <span slot="button">Αποστολή</span>
        </modal>
    </div>   
</template>

<script>
    import GeneralDivision from './components/Organika/TableGeneralDivision.vue';
    import axios from 'axios';
    import NumberTextBox from '../assets/Classes/NumberTextBox';
    import Modal from './components/Modal.vue';

    export default {
        components : {
            Modal , GeneralDivision
        },

        computed : {
            isFilled () {
                let filled = true;

                this.general_divisions.forEach(c => {
                    if(c.students === 0 || c.students === null ||  c.numberSchoolProvide === 0 || c.numberSchoolProvide === null){
                        filled = false;
                    }
                })

                return filled;
            }
        },

        data () {
            return {
                new_eidikotita: null,
                new_forseen : null,
                eidikotites: [],
                list_of_all_eidikotites: [],
                updated: false,
                loading_button: false,

                school: null,

                canSentForm : false,
                globalDisable : false,
                madeChanges : false,
                loading : true,
                classes : ['Α', 'Β', 'Γ'],

                openAgreementModal : false,

                maxStudents : 27,

                general_divisions : null,
                foreign_languages : {
                    'Α' :[],
                    'Β' :[],
                    'Γ' :[]
                },
                division_direction : {
                    'Α' :[],
                    'Β' :[],
                    'Γ' :[]
                },
                division_choice : {
                    'Α' :[],
                    'Β' :[],
                    'Γ' :[]
                },

                list_divisions : [],
                list_projects : [],
                divisions_projects : [],
                option_value : null,
                new_students : null,
                new_divisions_number : null,
                disableEditing : false,

                token : window.api_token,
                base_url : window.base_url,
            }
        },

        mounted(){
            console.log('My Name is Nick Smyrnaios!!!')
            this.fetchDivisions();
        },

        methods : {
            isUpdated(){
                this.updated = true;
            },

            deleteEidikotita(eidikotita, index){
                this.deleteNode(this.eidikotites, index);
                this.addToAllListEidikotites(eidikotita);
                this.isUpdated()
                this.displayAlert('Σημείωση!', `<strong class="message-strong">ΠΡΟΣΟΧΗ!  ΔΕΝ αποθηκεύτηκε η αλλαγή.</strong><br>Όταν ολοκληρώσετε τις αλλαγές, <br>πατήστε το <strong class='message-strong-buttons'>κίτρινο κουμπί για Προσωρινή αποθήκευση</strong> ή την Αποστολή`, 'warning', 3000);
            },

            addToAllListEidikotites(eidikotita){
                this.list_of_all_eidikotites.push({
                    eidikotita_name : eidikotita.name,
                    eidikotita_slug : eidikotita.slug,
                    id              : eidikotita.id
                });
                this.list_of_all_eidikotites.sort(this.sortItems);
            },

            addNewEidikotita(){
                this.eidikotites.push({
                    available: 0,
                    council_difference: 0,
                    council_forseen: this.new_forseen,
                    difference: 0,
                    id: this.new_eidikotita.id,
                    forseen: this.new_forseen,
                    name: this.new_eidikotita.eidikotita_name,
                    slug: this.new_eidikotita.eidikotita_slug,
                    number_of_teachers: 0,
                    project_hours: 0,
                    school_id : this.school.id,
                    locked: false
                })

                this.eidikotites.sort(this.sortItems);

                this.deleteSelectedNewEidikotita(this.new_eidikotita.id);

                this.displayAlert('Συγχαρητήρια!', `Η Ειδικότητα <strong>${this.new_eidikotita.eidikotita_slug} - ${this.new_eidikotita.eidikotita_name}</strong> προστέθηκε με επιτυχία! <br> <strong class="message-strong">ΠΡΟΣΟΧΗ!  ΔΕΝ αποθηκεύτηκε η αλλαγή.</strong><br>Όταν ολοκληρώσετε τις αλλαγές, <br>πατήστε το <strong class='message-strong-buttons'>κίτρινο κουμπί για Προσωρινή αποθήκευση</strong> ή την Αποστολή`, 'success', 10000);

                this.new_forseen = null
                this.new_eidikotita = null
                this.isUpdated()


            },

            deleteSelectedNewEidikotita(id){
                let index = this.list_of_all_eidikotites.findIndex(v => v.id === id);
                this.deleteNode(this.list_of_all_eidikotites, index);
            },

            deleteNode(obj, index){
                this.$delete(obj, index);
            },

            sortItems(a,b){
                if (a.id < b.id){
                    return -1;
                }
                if (a.id > b.id){
                    return 1;
                }
            },

            calculateNewForSeen(){
                let divClass = new NumberTextBox(this.new_forseen);

                if(divClass.checkIfIsPositive() !== null){
                    this.$emit('change-made');
                }else{
                    this.setNullToNewForseen();
                }
            },

            showMessage(){
                this.displayAlert('Σημείωση!', `<strong class="message-strong">ΠΡΟΣΟΧΗ!  ΔΕΝ αποθηκεύτηκε η αλλαγή.</strong><br>Όταν ολοκληρώσετε τις αλλαγές, <br>πατήστε το <strong class='message-strong-buttons'>κίτρινο κουμπί για Προσωρινή αποθήκευση</strong> ή την Αποστολή`, 'warning', 3000);
            },

            setNullToNewForseen(){
                this.new_forseen = null;
                this.displayAlert('Προσοχή!', `Ο αριθμός <strong>ΔΕΝ</strong> είναι ακέραιος`, 'error', 1000);

            },
            
            calculateClass(eidikotita){
                if(!this.globalDisable){
                    let divClass = new NumberTextBox(eidikotita.forseen);

                    if(divClass.checkIfIsPositive() !== null){
                        this.$emit('change-made');
                        this.isUpdated();
                    }else{
                        this.setNullToDivClass(eidikotita);
                    }
                }
            },

            setNullToDivClass(eidikotita){
                eidikotita.forseen = null;
                this.displayAlert('Προσοχή!', `Ο αριθμός <strong>ΔΕΝ</strong> είναι ακέραιος`, 'error', 1000);

            },

            calculateDifference(eidikotita){
                eidikotita.difference = (eidikotita.available - eidikotita.project_hours  - eidikotita.forseen )
                eidikotita.council_difference = (eidikotita.available - eidikotita.project_hours  - eidikotita.forseen )

                return (eidikotita.available - eidikotita.project_hours  - eidikotita.forseen );
            },

            changeMade (){
                this.madeChanges = true;
                this.isUpdated()
            },

            zeroValues(){
                this.madeChanges = false;
                this.updated = false
            },

            fetchDivisions(){                
                axios.get('/api/school/organika/other/fetchDivisions?api_token='+this.token)
                    .then(r => {      
                        this.general_divisions = r.data['divisions_general'];

                        this.eidikotites = r.data['kena_sum_hours']
                        this.list_of_all_eidikotites = r.data['eidikotites']
                        this.school = r.data['school']
                        this.loading = false;
                        this.globalDisable = r.data['locked'];
                        // this.canSentForm = r.data['canSentForm'];
                    })
                    .catch(r => {
                        this.displayAlert('Προσοχή!', `Λάθος 130.346 ${r.message}`, 'error', -1);
                    });
            },

            createDivisions(data){

                this.classes.forEach(c => {
                    if(typeof data['divisions_foreign'][c] === 'undefined'){
                        this.foreign_languages[c] = [];
                    }else{
                        this.foreign_languages[c] = data['divisions_foreign'][c];
                    }
                    if(typeof data['divisions_choice'][c] === 'undefined'){
                        this.division_choice[c] = [];
                    }else{
                        this.division_choice[c] = data['divisions_choice'][c];
                    }
                    if(typeof data['divisions_direction'][c] === 'undefined'){
                        this.division_direction[c] = [];
                    }else{
                        this.division_direction[c] = data['divisions_direction'][c];
                    }
                });
            },

            saveRequest(){
                this.disableEditing = true;

                console.log('GET started... 666')

                axios.post('/api/school/organika/other/saveDivisions?api_token='+this.token, {
                    eidikotites : this.eidikotites,
                    general_divisions : this.general_divisions
                })
                    .then(r => {
                        this.disableEditing = false;
                        this.displayAlert('Συγχαρητήρια,', r.data, 'success');
                    })
                    .catch(r => {
                        this.displayAlert('Προσοχή!', `Λάθος 140.396 : ${r.message}`, 'error', -1);
                    });
            },

            sentRequest(){
                this.$emit('display-loader');
                this.openAgreementModal = false;
                axios.post('/api/school/organika/other/sentDivisions?api_token='+this.token, {
                    eidikotites : this.eidikotites,
                    general_divisions : this.general_divisions
                })
                    .then(r => {                        
                        this.$emit('not-display-loader');
                        this.displayAlert('Συγχαρητήρια!', r.data, 'success');
                        this.globalDisable = true;
                    })
                    .catch(r => {
                        this.displayAlert('Προσοχή!', `Λάθος 140.394 ${r.message}`, 'error', -1);
                    });
            },

            openModal (){
                this.openAgreementModal = true;
            },

            displayMessage(data){
                this.displayAlert(data.title, data.message, data.type, data.duration);
            },

            displayAlert(title, body, type, duration = 3000, speed = 300){
                this.$emit('notification-message', {
                    title, body, type, duration, speed
                });
            },

            cancelOperation (){
                this.displayAlert('Προσοχή!', 'Δεν πραγματοποιήθηκε καμία αλλαγή', 'error', 1000);
                this.openAgreementModal = false;
            },
        }   
    }
</script>

<style lang="scss">
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
//   padding-top: 80px;
  margin: 0;
  h2 {
    font-weight: 300;
    a {
      color: black;
      font-size: 12px;
    }
  }

  #app {
    // text-align: center;
    color: #2c3e50;
    .content {
      margin: 0 auto;
      max-width: 420px;
    }
  }
}

.vacuum-title{
    /*margin-top: 2em;*/
    font-size: 16pt;
    margin-bottom: 0;
    padding-bottom: 0.3em;
    text-align: center;
    line-height: 1;
}

.vacuum-title:after{
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    margin: 5px auto 0;
    background-color: #F6624A;
}

.sub-button {
  display: inline-block;
  float: right;
  background: #E54D42;
  padding: 4px;
  box-shadow: 0 5px 15px 0px rgba(46, 61, 73, 0.1);
}

.different-from-council{
    color: red;
}
.ok{
    color : green;
}

        .different-from-council-school{
            color: #990000;
            background-color:#ff8566;
            font-weight: bold;
            text-align: center;
            font-size: 14pt;

        }
        .ok-school{
            font-weight: bold;
            color : #004d00;
            background-color: #90EE90;
            font-size: 14pt;
            text-align: center;
        }

        .unlocked{
            /*background-color: #0000cc;*/
            text-align: center;
            font-size: 12pt;
        }

        .footer-header{
            text-align: center;
            font-weight: bold;
            background-color: #B0BEC5;
            color: blue;
            font-size: 14pt;
        }

        .footer-body{
            background-color: #B0BEC5;
        }

        .text-box-new{
            background-color: #90EE90;
            color: #990000;
            text-align: center;
            font-weight: bold;
        }

        .combo-box-new{
            background-color: #90EE90;
            color: #990000;
            font-weight: bold;  
        }

        .message-strong{
            color: red;
            font-size: 12pt;
        }

        .message-strong-buttons{
            color: blue;
            font-size: 10pt;
        }
</style>