<template>
    <tr>
        <td 
            class="class-style" 
            :class="'-'+key_class"
        >{{ key_class }}</td>
        <td>
            <table :class="'table-'+key_class" border="1">
                <lesson-group
                    v-for="(lesson_group, key_lesson_group) in classroom"
                    :key="key_lesson_group" 
                    v-bind:key_lesson_group="key_lesson_group"   
                    v-bind:lesson_group="lesson_group"
                    :token="token"
                    v-on:notify="notifyMessage"
                />
            </table>
        </td>
    </tr>
</template>

<script>
    import LessonGroup from './LessonGroup.vue'

    export default {
        props: ['classroom', 'key_class', 'token'],

        components: {
            LessonGroup
        },

        methods:{
            notifyMessage(data){
                this.$emit('notify', data)
            }
        }
    }
</script>

<style scoped>
    .class-style{
        font-size: 30pt;
        padding-left: 30px;
        padding-right: 30px;
    }

    .-Α{
        background-color: #148F77;
        color: yellow;
    }

    .-Β{
        background-color: #3498DB;
        color: yellow;
    }

    .-Γ{
        background-color: #8E44AD;
        color: yellow;
    }

    .table-Α{
        background-color: #D5F5E3;
    }

    .table-Β{
        background-color: #D6EAF8;
    }

    .table-Γ{
        background-color: #E8DAEF;
    }
</style>