<template>
    <tr>
        <td class="lesson-group">
            {{ key_lesson_group }}
        </td>
        <td>
            <lesson
                v-for="(lesson, lesson_key) in lesson_group[0].wrologio"
                :key="lesson_key"
                v-bind:lesson="lesson"
                :token="token"
                v-on:notify="notifyMessage"
                :class_row="lesson_key"
            />
        </td>
    </tr>
</template>

<script>
    import Lesson from './Lesson.vue'

    export default {
        props:['lesson_group', 'key_lesson_group', 'token'],

        components: {
            Lesson
        },

        methods:{
            notifyMessage(data){
                this.$emit('notify', data)
            }
        }
    }
</script>

<style scoped>
    .lesson-group{
        padding-left: 5px;
        padding-right: 5px;
    }
</style>