<template>
    <table :class="{'table-odd' : isOdd}" border="1" style="width: 100%">
        <tbody>
            <tr>
                <td class="lesson-name">
                    {{ lesson.name }}
                </td>
                <td style="width: 20%">
                    <input class="input-div" size="2" maxlength="2" type="text" v-model="lesson.pivot.hours" @keyup="updateHours"/>
                    <span class="button-div" v-if="!areEqual">
                        <span class="span-button span-button-save" v-if="!isNull" @click="saveHours">
                            <i class="fa fa-save"></i>
                        </span>
                        <span class="span-button span-button-undo" @click="undo">
                            <i class="fa fa-undo"></i>
                        </span>
                    </span>
                    <span class="button-div" v-else>
                        <span class="span-button span-button-delete" @click="deleteLessonDiv">
                            <i class="fa fa-trash"></i>
                        </span>
                    </span>
                </td>
                <td class="eidikotites">
                    <eidikotites 
                        v-for="(eidikotita, index) in lesson.pivot.eidikotites"
                        v-bind:name="eidikotita.eidikotita_name"
                        v-bind:slug="eidikotita.eidikotita_slug"
                        :key="index"
                    />
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import Eidikotites from './Eidikotites.vue'
    import Hours from '../../../../Classes/Hours.js'

    export default {
        props:['lesson', 'token', 'class_row'],

        components: {
            Eidikotites
        },

        computed:{
            areEqual(){
                return this.oldValue === this.newValue
            },

            isNull(){
                return this.lesson.pivot.hours === null
            },

            isOdd(){
                return this.class_row % 2 == 1
            }

        },

        data(){
            return {
                oldValue : this.lesson.pivot.hours,
                newValue : this.lesson.pivot.hours,

                deletePermanent : new Swalify({
                    title : 'Προσοχή!!',
                    type : 'info',
                    text : 'Θα γίνει Οριστική ΔΙΑΓΡΑΦΗ χωρίς αποθήκευση της τοποθέτησης',
                    buttonText : 'Ναι, Διαγράψτε την',
                    success_title : 'Συγχαρητήρια!',
                    success_text  : 'η τοποθέτηση διεγράφη'
                })
            }
        },

        methods:{
            updateHours(){
                let hours = new Hours(this.lesson.pivot.hours);

                this.newValue = hours.checkIfIsPositive()

                if(this.newValue === null) this.lesson.pivot.hours = null

                console.log(`New Value=${this.newValue} -- - OldValue=${this.oldValue}`)
            },

            saveHours(){
                axios.post('/api/admin/organika/updateLessonHours?api_token='+this.token, {
                    newHours: this.newValue,
                    id_kena_div: this.lesson.pivot.id
                })
                    .then(r => {  
                        console.log(r.data)
                        this.oldValue = this.newValue

                        this.$emit('notify', {
                            title: 'Επιτυχία!',
                            body: `Το μάθημα <strong>${this.lesson.name}</strong> είναι πλέον <strong>${this.newValue}</strong>  ώρες.`,
                            type: 'success',
                            duration: 2000,
                            speed: 1000
                        })
                    })
                    .catch(e => console.log(e.response))  
            },

            undo(){
                this.lesson.pivot.hours = this.oldValue
                this.newValue = this.oldValue
            },

            deleteLessonDiv(){
                console.log('Deleted....')
                var url = '/api/admin/organika/deletePermanentLessonDiv?api_token='+this.token

                this.deletePermanent.deletePlacement(url, {
                    title       : 'Προσοχή!',
                    message     : `Θα γίνει ΟΡΙΣΤΙΚΗ ΔΙΑΓΡΑΦΗ του μαθήματος ${this.lesson.name}. Είστε σίγουροι; (Η Σελίδα θα ανανεωθεί...)`,
                    buttonText  : 'Ναι, να γίνει...',
                    successMsg  : `Έγινε ΔΙΑΓΡΑΦΗ του μαθήματος ${this.lesson.name}.`,
                    successType : 'success',
                    errorMsg    : 'καμία αλλαγή...',
                    errorType   : 'info',
                    color       : '#DD6B55',
                    id          : this.lesson.pivot.id
                })
                    .then(r => {
                        console.log('all ok')
                        location.reload()
                    })
                    .catch(e => console.log('do nothing...'))

            }
        }
    }
</script>

<style scoped>

    .table-odd{
        background-color: #EBEDEF;
    }

    .lesson-name{
        width:40%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .eidikotites{
        width: 45%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .span-button{
        font-size: 11pt;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
    }
    .span-button:hover{
        font-weight: bold;
    }

    .span-button-delete{
       color: #943126;
    }

    .span-button-delete:hover{
        color:red;
    }

    .span-button-save{
       color: #006400;
    }

    .span-button-save:hover{
        color:green;
        font-weight: bold;
    }

    .span-button-undo{
       color: blueviolet;
    }

    .span-button-undo:hover{
        color: #6600cc;
        font-weight: bold;
    }

    .button-div{
        width: 60%;
    }

    .input-div{
        width: 40%;
        background-color: #F4D03F;
        color: blue;
        font-weight: bold;
        text-align: center;
    }
</style>