<template>
    <div>
        <table border="1">
            <tbody>
                <tr>
                    <td class="school-header" colspan="2">
                        {{ type_key }}
                    </td>
                </tr>
                <classroom 
                    v-for="(classroom, key_class) in division_type"
                    :key="key_class"
                    v-bind:classroom="classroom"
                    v-bind:key_class="key_class"
                    :token="token"
                    v-on:notify="notifyMessage"
                />
            </tbody>
        </table>
        <hr><br>
    </div>
</template>

<script>
    import Classroom from './Classroom.vue'

    export default {
        props: ['division_type', 'type_key', 'token'],

        components:{
            Classroom
        },

        methods:{
            notifyMessage(data){
                this.$emit('notify', data)
            }
        }
    }
</script>

<style scoped>
    .school-header{
        background-color: gray;
        color: white;
        font-size: 20pt;
        text-align: center;
        letter-spacing: 2px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>